<div class=" content-body default-height">
    <div class="container-fluid">

        <!-- Conten Head -->

        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
         
        <!-- End Conten Head -->
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="filter cm-content-box box-primary">
                            <div class="content-title SlideToolHeader" (click)="dropicon(1)" data-bs-toggle="collapse" data-bs-target="#add-category">           
                                <div class="cpa">
                                    Add Blog Category
                                </div>
                                <div class="tools">
                                    <a href="javascript:void(0);" class="expand handle"
                                    [ngClass]="{'expand':activeToggleArray.indexOf(1) > -1 }" ><i class="fal fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div class="cm-content-body form excerpt collapse show" id="add-category">
                                <div class="card-body">
                                    <div class="mb-3">
                                      <label  class="form-label">Name</label>
                                      <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="mb-3">
                                          <label  class="form-label">Slug</label>
                                          <input type="text" class="form-control" placeholder="Slug">
                                    </div>
                                    <div class="mb-3">
                                      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="filter cm-content-box box-primary">
                            <div class="content-title"(click)="dropicon(2)" data-bs-toggle="collapse" data-bs-target="#blog-list">
                                <div class="cpa">
                                    Blog List
                                </div>
                                <div class="tools">
                                    <a href="javascript:void(0);" class="SlideToolHeader" 
                                    [ngClass]="{'expand':activeToggleArray.indexOf(2) > -1 }" >
                                    <i class="fal fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div class="cm-content-body publish-content form excerpt collapse show" id="blog-list">
                                <div class="card-body py-3 mt-3">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped verticle-middle table-responsive-sm">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-black">S.No</th>
                                                    <th scope="col" class="text-black">name</th>
                                                    <th scope="col" class="text-black text-end">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of catagory">
                                                    <td>{{ data.id }}</td>
                                                    <td>{{ data.name }}</td>
                                                    <td class="text-end">
                                                        <a href="javascript:void(0);" class="mx-1 text-hover">Edit</a>
                                                        <span>|</span>
                                                        <a href="javascript:void(0);" class="mx-1 text-hover">Up</a>
                                                        <span>|</span>
                                                        <a href="javascript:void(0);" class="mx-1 text-hover">down</a>
                                                        <span>|</span>
                                                        <a href="javascript:void(0);" class="ms-1 text-hover">delete</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>