<div class="content-body default-height">
    <div class="container-fluid default-mt-btn">

        <!-- Conten Head -->
        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        <!-- Conten Head End-->
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Menu with icons</h4>
                    </div>
                    <div class="card-body">
                        <app-menu-with-icons></app-menu-with-icons>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Nested menu</h4>
                    </div>
                    <div class="card-body">
                        <app-nested-menu></app-nested-menu>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic menu</h4>
                    </div>
                    <div class="card-body">
                        <app-basic-menu></app-basic-menu>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Menu positioning</h4>
                    </div>
                    <div class="card-body">
                        <app-menu-positioning></app-menu-positioning>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>