<div class="content-body default-height">
    <div class="container-fluid default-mt-btn">
        <!-- Conten Head -->
        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        <!-- Conten Head End -->
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Badge overview</h4>
                    </div>
                    <div class="card-body">

                        <p>
                            <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
                        </p>

                        <p>
                            <span matBadge="1" matBadgeSize="large">Text with large badge</span>
                        </p>

                        <p>
                            Button with a badge on the left
                            <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before"
                                matBadgeColor="accent" class="rounded-2">
                                Action
                            </button>
                        </p>

                        <p>
                            Button toggles badge visibility
                            <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden"
                                (click)="toggleBadgeVisibility()" class="rounded-2">
                                Hide
                            </button>
                        </p>

                        <p>
                            Icon with a badge
                            <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
                            <!-- Include text description of the icon's meaning for screen-readers -->
                            <span class="cdk-visually-hidden">
                                Example with a home icon with overlaid badge showing the number 15
                            </span>
                        </p>


                    </div>
                </div>
            </div>

        </div>

    </div>
</div>