<div class="content-body default-height">
    <div class="container-fluid">
        <!-- Conten Head -->

        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
         
        <!-- End Conten Head -->
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-xxl-4 email-left-body" [ngClass]="{'active':isVisited}">
                                <app-email-sidbar></app-email-sidbar>
                            </div>
                            <div class="col-xl-9 col-xxl-8">
                                <div>
                                    <div role="toolbar" class="toolbar ms-1 ms-sm-0 ms-xl-1 d-flex align-items-center">
                                        <div class="btn-group mb-1">
                                            <div class="form-check custom-checkbox">
                                                <input type="checkbox" class="form-check-input" id="checkAll" (change)="checkUncheckAll($event)">
                                                <label class="form-check-label" for="checkAll"></label>
                                            </div>
                                        </div>
                                        <div class="btn-group mb-1">
                                            <button class="btn btn-primary light px-3" type="button" (click)="resetButton()"><i class="ti-reload"></i>
                                            </button>
                                        </div>
                                        <div class="btn-group mb-1 mx-2">
                                            <button aria-expanded="false" data-bs-toggle="dropdown" class="btn btn-primary px-3 light dropdown-toggle" type="button">More <span
                                                    class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu"> <a href="javascript: void(0);" class="dropdown-item">Mark as Unread</a> <a href="javascript: void(0);" class="dropdown-item">Add to Tasks</a>
                                                <a href="javascript: void(0);" class="dropdown-item">Add Star</a> <a href="javascript: void(0);" class="dropdown-item">Mute</a>
                                            </div>
                                        </div>
                                        <div class="email-tools-box" [class.active] = "isVisited == true" (click)="inboxSidebar()">
                                            <i class="fa-solid fa-list-ul"></i>
                                        </div>
                                        <form class=" d-none d-sm-block ms-auto">
                                            <div class="input-group ms-auto w-100 d-sm-inline-flex d-none">
                                                <input type="text" class="form-control" placeholder="Search here">
                                                <span class="input-group-text"><a href="javascript:void(0)"><i class="flaticon-381-search-2"></i></a></span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="email-list mt-3">
                                        <div class="message" *ngFor="let rowData of inboxMSG; let i = index">
                                            <div>
                                                <div class="d-flex message-single">
                                                    <div class="ps-1 align-self-center">
                                                        <div class="form-check custom-checkbox">
                                                            <input type="checkbox" class="form-check-input">
                                                            <label class="form-check-label"></label>
                                                        </div>
                                                    </div>
                                                    <div class="ms-2">
                                                        <button class="border-0 bg-transparent align-middle p-0" (click)="starActive(i)">
                                                            <i class="fa fa-star" aria-hidden="true" [ngClass]="{'yellow':activeStarArray.indexOf(i) > -1 }"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <a routerLink="/admin/email-read" class="col-mail col-mail-2">
                                                    <div class="subject">
                                                        {{ rowData.message }}
                                                    </div>
                                                    <div class="date"> {{ rowData.time }}</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- panel -->
                                    <div class="row mt-4">
                                        <div class="col-12 ps-3">
                                            <nav>
                                                <ul class="pagination pagination-gutter pagination-primary pagination-sm no-bg justify-content-center justify-content-xl-start ">
                                                    <li class="page-item page-indicator"><a class="page-link" href="javascript:void(0)"><i class="la la-angle-left"></i></a></li>
                                                    <li class="page-item "><a class="page-link" href="javascript:void(0)">1</a></li>
                                                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                                                    <li class="page-item page-indicator"><a class="page-link" href="javascript:void(0)"><i class="la la-angle-right"></i></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>