<div class="basic-form">
    <form>
        <div class="mb-3">
            <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input" id="check1" value="" checked>
                <label class="form-check-label" for="check1">Option 1</label>
            </div>
            <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input" id="check2" value="">
                <label class="form-check-label" for="check2">Option 2</label>
            </div>
            <div class="form-check disabled">
                <input type="checkbox" class="form-check-input" id="check3" value="" disabled>
                <label class="form-check-label" for="check3">Disabled</label>
            </div>
        </div>
    </form>
</div>