<div class="basic-form">
    <form>
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value=""
                        checked>Option 1
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Option 2
                </label>
            </div>
            <div class="form-check form-check-inline disabled">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value=""
                        disabled>Disabled
                </label>
            </div>
        </div>
    </form>
</div>