<div class="content-body default-height">
    <div class="container-fluid default-mt-chips">
        <!-- Conten Head -->
        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        <!-- Conten Head End-->

        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Chips Autocomplete</h4>
                    </div>
                    <div class="card-body">
                        
                        <app-chips-autocomplete></app-chips-autocomplete>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Chips Drag and Drop</h4>
                    </div>
                    <div class="card-body">
                        <app-chips-drag-drop></app-chips-drag-drop>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Chips with input</h4>
                    </div>
                    <div class="card-body">
                        <app-chips-with-input></app-chips-with-input>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Chips basic</h4>
                    </div>
                    <div class="card-body">
                        <app-chips-basic></app-chips-basic>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Stacked chips</h4>
                    </div>
                    <div class="card-body">
                        <app-chips-stacked></app-chips-stacked>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>