<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="mb-4">
    <mat-tab label="First"><div class="py-3">Content 1</div></mat-tab>
    <mat-tab label="Second"><div class="py-3">Content 2</div></mat-tab>
    <mat-tab label="Third"><div class="py-3">Content 3</div></mat-tab>
  </mat-tab-group>
  
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="mb-4">
    <mat-tab label="First"><div class="py-3">Content 1</div></mat-tab>
    <mat-tab label="Second"><div class="py-3">Content 2</div></mat-tab>
    <mat-tab label="Third"><div class="py-3">Content 3</div></mat-tab>
  </mat-tab-group>
  
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end" class="mb-4">
    <mat-tab label="First"><div class="py-3">Content 1</div></mat-tab>
    <mat-tab label="Second"><div class="py-3">Content 2</div></mat-tab>
    <mat-tab label="Third"><div class="py-3">Content 3</div></mat-tab>
  </mat-tab-group>
  