<div class="profile-tab">
    <div class="custom-tab-1">
        <ul class="nav nav-tabs" ngbNav #nav1="ngbNav" [(activeId)]="active">
            <li [ngbNavItem]="1" class="nav-item">
                <a href="javascript:void(0);" ngbNavLink class="nav-link"> Posts</a>
                <ng-template ngbNavContent>
                    <div class="my-post-content pt-3">
                        <div class="post-input">
                            <textarea name="textarea" id="textarea" cols="30" rows="5" class="form-control bg-transparent" placeholder="Please type what you want...."></textarea> 
                            <a href="javascript:void(0);" class="btn btn-primary light me-2 px-3" (click)="openCenter(linkModal)"><i class="fa fa-link m-0"></i> </a>
                            <!-- Modal -->
                            <ng-template #linkModal let-modal>
                                <div class="modal-header">
                                    <h5 class="modal-title">Social Links</h5>
                                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                                </div>
                                <div class="modal-body post-input mb-0">
                                    <a class="btn-social facebook me-1" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn-social google-plus me-1" href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a>
                                    <a class="btn-social linkedin me-1" href="javascript:void(0)" ><i class="fab fa-linkedin"></i></a>
                                    <a class="btn-social instagram me-1" href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                                    <a class="btn-social twitter me-1" href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                    <a class="btn-social youtube me-1" href="javascript:void(0)"><i class="fab fa-youtube"></i></a>
                                    <a class="btn-social whatsapp me-1" href="javascript:void(0)"><i class="fab fa-whatsapp"></i></a>
                                </div>
                            </ng-template>
                            
                            <a href="javascript:void(0);" class="btn btn-primary light me-2 px-3" (click)="openCenter(cameraModal)"><i class="fa fa-camera m-0"></i> </a>
                            <!-- Modal -->
                            <ng-template #cameraModal let-modal>
                                <div class="modal-header">
                                    <h5 class="modal-title">Upload images</h5>
                                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Upload</span>
                                        <div class="form-file">
                                            <input type="file" class="form-file-input form-control">
                                        </div>
                                    </div>
                                </div>
                            </ng-template> 
                            <a href="javascript:void(0);" class="btn btn-primary" (click)="openCenter(postModal)">Post</a>
                            <!-- Modal -->
                            <ng-template #postModal let-modal>
                                <div class="modal-header">
                                    <h5 class="modal-title">Post</h5>
                                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                                </div>
                                <div class="modal-body post-input">
                                    <textarea name="textarea" id="textarea2" cols="30" rows="5" class="form-control bg-transparent" placeholder="Please type what you want...."></textarea>
                                    <a class="btn btn-primary rounded" href="javascript:void(0)">Post</a>	
                                </div>
                            </ng-template>
                        </div>
                        <div class="profile-uoloaded-post border-bottom-1 pb-5">
                            <img src="assets/images/profile/8.jpg" alt="" class="img-fluid rounded w-100">
                            <a class="post-title" href="post-details.html"><h3 class="text-black">Mobile wallets rise, reshaping payments.</h3></a>
                            <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning
                                of spare which enjoy whole heart.</p>
                            <button class="btn btn-primary me-2"><span class="me-2"><i
                                        class="fa fa-heart"></i></span>Like</button>
                            <button class="btn btn-secondary ms-1" (click)="openCenter(replyModal)">
                                <span class="me-2"><i class="fa fa-reply"></i></span>Reply
                            </button>
                        </div>
                        <div class="profile-uoloaded-post border-bottom-1 pb-5">
                            <img src="assets/images/profile/9.jpg" alt="" class="img-fluid rounded w-100">
                            <a class="post-title" href="post-details.html"><h3 class="text-black">Contactless boom, cashless future beckons.</h3></a>
                            <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning
                                of spare which enjoy whole heart.</p>
                            <button class="btn btn-primary me-2"><span class="me-2"><i
                                        class="fa fa-heart"></i></span>Like</button>
                            <button class="btn btn-secondary ms-1" (click)="openCenter(replyModal)">
                                <span class="me-2"><i class="fa fa-reply"></i></span>Reply
                            </button>
                        </div>
                        <div class="profile-uoloaded-post pb-3">
                            <img src="assets/images/profile/8.jpg" alt="" class="img-fluid rounded w-100">
                            <a class="post-title" href="post-details.html"><h3 class="text-black">Collection of textile samples lay spread</h3></a>
                            <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning
                                of spare which enjoy whole heart.</p>
                            <button class="btn btn-primary me-2"><span class="me-2"><i
                                        class="fa fa-heart"></i></span>Like</button>
                            <button class="btn btn-secondary ms-1" (click)="openCenter(replyModal)">
                                <span class="me-2"><i class="fa fa-reply"></i></span>Reply
                            </button>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2" class="nav-item">
                <a href="javascript:void(0);" ngbNavLink class="nav-link">About Me</a>
                <ng-template ngbNavContent>
                    <div class="profile-about-me">
                        <div class="pt-4 border-bottom-1 pb-3">
                            <h4 class="text-primary">About Me</h4>
                            <p class="mb-2">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence was created for the bliss of souls like mine.I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                            <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                        </div>
                    </div>
                    <div class="profile-skills mb-4">
                        <h4 class="text-primary mb-2">Skills</h4>
                        <a href="javascript:void(0);" class="btn btn-primary light btn-xs me-1">Admin</a>
                        <a href="javascript:void(0);" class="btn btn-primary light btn-xs me-1">Dashboard</a>
                        <a href="javascript:void(0);" class="btn btn-primary light btn-xs me-1">Photoshop</a>
                        <a href="javascript:void(0);" class="btn btn-primary light btn-xs me-1">Bootstrap</a>
                        <a href="javascript:void(0);" class="btn btn-primary light btn-xs me-1">Responsive</a>
                        <a href="javascript:void(0);" class="btn btn-primary light btn-xs me-1">Crypto</a>
                    </div>
                    <div class="profile-lang mb-4 pt-1">
                        <h4 class="text-primary mb-2">Language</h4>
                        <a href="javascript:void(0);"
                            class="badge badge-primary badge-sm light me-1"><i
                                class="flag-icon flag-icon-us"></i> English</a>
                        <a href="javascript:void(0);"
                            class="badge badge-secondary badge-sm light mx-2"><i
                                class="flag-icon flag-icon-fr"></i> French</a>
                        <a href="javascript:void(0);"
                            class="badge badge-success badge-sm light ms-1"><i
                                class="flag-icon flag-icon-bd"></i> Bangla</a>
                    </div>
                    <div class="profile-personal-info">
                        <h4 class="text-primary mb-4">Personal Information</h4>
                        <div class="row mb-2">
                            <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">Name <span class="pull-end">:</span>
                                </h5>
                            </div>
                            <div class="col-sm-9 col-7"><span>Mitchell C.Shay</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">Email <span class="pull-end">:</span>
                                </h5>
                            </div>
                            <div class="col-sm-9 col-7"><span>example@examplel.com</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">Availability <span
                                        class="pull-end">:</span></h5>
                            </div>
                            <div class="col-sm-9 col-7"><span>Full Time (Free Lancer)</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">Age <span class="pull-end">:</span>
                                </h5>
                            </div>
                            <div class="col-sm-9 col-7"><span>27</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">Location <span class="pull-end">:</span>
                                </h5>
                            </div>
                            <div class="col-sm-9 col-7"><span>Rosemont Avenue Melbourne,
                                    Florida</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3 col-5">
                                <h5 class="f-w-500">Year Experience <span
                                        class="pull-end">:</span></h5>
                            </div>
                            <div class="col-sm-9 col-7"><span>07 Year Experiences</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="3" class="nav-item">
                <a href="javascript:void(0);" ngbNavLink class="nav-link">Setting</a>
                <ng-template ngbNavContent>
                    <div class="pt-3">
                        <div class="settings-form">
                            <h4 class="text-primary">Account Setting</h4>
                            <form>
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Email</label>
                                        <input type="email" placeholder="Email" class="form-control">
                                    </div>
                                    <div class="mb-3 col-md-6 ">
                                        <label class="mb-1 form-label required">Password</label>
                                        <div class="position-relative">
                                            <input type="password" id="dz-password" class="form-control" value="123456" [type]="hide ? 'text' : 'password'">
                                            <span class="show-pass eye" [ngClass]="{'active': hide}" (click)="show_pass()">
                                                <i class="fa fa-eye-slash"></i>
                                                <i class="fa fa-eye"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 pt-1">
                                    <label class="form-label">Address</label>
                                    <input type="text" placeholder="1234 Main St" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Address 2</label>
                                    <input type="text" placeholder="Apartment, studio, or floor" class="form-control">

                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">City</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label">State</label>

                                        <app-select2 [items]="select2Data"></app-select2>
                                        
                                    </div>
                                    <div class="mb-3 col-md-2">
                                        <label class="form-label">Zip</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check custom-checkbox">
                                        <input type="checkbox" class="form-check-input" id="gridCheck">
                                        <label class="form-check-label form-label" for="gridCheck"> Check me out</label>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Sign
                                    in</button>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul> 

        <div class="tab-content">
            <div>
                <div [ngbNavOutlet]="nav1"></div>     
            </div>
        </div>
    </div>
    <!-- Modal -->
    <ng-template #replyModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title">Post Reply</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <textarea class="form-control" rows="4">Message</textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger light" (click)="modal.dismiss('Cross click')">Close</button>
            <button type="button" class="btn btn-primary">Reply</button>
        </div>
    </ng-template> 
</div>