<div class="content-body default-height">
    <!-- row -->
    <div class="container-fluid">
        <div class="form-head mb-4">
            <h2 class="text-black font-w600 mb-0">My Wallet</h2>
        </div>
        <div class="row">
            <div class="col-xl-9 col-xxl-12">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card stacked-2">
                            <app-main-balance-wollet></app-main-balance-wollet>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card">
                            <app-payment-history></app-payment-history>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-12">
                
                   <app-invoices-sent></app-invoices-sent>
     
            </div>
        </div>
    </div>
</div>