<div class=" content-body default-height">
    <div class="container-fluid">
         <!-- Conten Head -->

         <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
         
         <!-- End Conten Head -->
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12">
              <div class="filter cm-content-box box-primary">
                <div class="content-title" (click)="dropicon(1)"
                data-bs-toggle="collapse" data-bs-target="#default-collapse-1">
                    <div class="cpa">
                        <i class="fa fa-list-alt me-2"></i>Menu
                    </div>
                    <div class="tools">
                        <a href="javascript:void(0);" class="SlideToolHeader" 
                        [ngClass]="{'expand':activeToggleArray.indexOf(1) > -1 }"><i class="fal fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="cm-content-body form excerpt accordion-collapse collapse show"  id="default-collapse-1" data-bs-parent="#accordion-one">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-xxl-3 col-lg-4 mb-lg-0 mb-3">
                                <h6 class="mb-0">Select a menu to edit:</h6>
                            </div>
                            <div class="col-xl-6 col-xxl-5 col-lg-4 mb-lg-0 mb-3">

                                <app-select2 [items]="select2Data"></app-select2>

                            </div>
                            <div class="col-xl-3 col-xxl-4 col-lg-4">
                                <a href="javascript:void(0);" class="btn btn-primary me-1">Select</a>
                                <span class="mx-2 d-inline-block">or</span>
                                <a href="javascript:void(0);" class="text-primary ms-1">Create new menu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                  <div class="col-xl-4">
                    <div class="filter cm-content-box box-primary">
                        <div class="content-title" (click)="dropicon(2)"
                        data-bs-toggle="collapse" data-bs-target="#default-collapse-2">
                            <div class="cpa">
                                Menus
                            </div>
                            <div class="tools">
                                <a href="javascript:void(0);" class="SlideToolHeader" 
                                [ngClass]="{'expand':activeToggleArray.indexOf(2) > -1 }"><i class="fal fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div class="cm-content-body form excerpt accordion-collapse collapse show" id="default-collapse-2" data-bs-parent="#accordion-one">
                            <div class="card-body">
                                <div class="filter cm-content-box box-primary border">
                                    <div class="content-title border-0" (click)="dropicon(3)"
                                    data-bs-toggle="collapse" data-bs-target="#default-collapse-3">
                                        <div class="cpa">
                                            Page
                                        </div>
                                        <div class="tools">
                                            <a href="javascript:void(0);" class="SlideToolHeader" 
                                            [ngClass]="{'expand':activeToggleArray.indexOf(3) > -1 }"><i class="fal fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div class="cm-content-body form excerpt border-top accordion-collapse collapse show" id="default-collapse-3" data-bs-parent="#accordion-one">
                                        <div class="card-body ItemsCheckboxSec p-4">
                                            <ul class=" tab-my nav nav-tabs" id="myTab" role="tablist">
                                              <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="Viewall-tab" data-bs-toggle="tab" data-bs-target="#Viewall-tab-pane" type="button" role="tab" aria-controls="Viewall-tab-pane" aria-selected="true">View All</button>
                                              </li>
                                              <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="Search-tab" data-bs-toggle="tab" data-bs-target="#Search-tab-pane" type="button" role="tab" aria-controls="Search-tab-pane" aria-selected="false">Search</button>
                                              </li>
                                         
                                            </ul>                             
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="Viewall-tab-pane" role="tabpanel" aria-labelledby="Viewall-tab" tabindex="0">
                                                    <div class="menu-tabs">
                                                        <div class="form-check" *ngFor="let data of pagesArr">
                                                          <input class="form-check-input" type="checkbox" [(ngModel)]="data.completed" id="flexCheckDefault">
                                                          <label class="form-check-label" for="flexCheckDefault">
                                                            {{ data.title }}
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="Search-tab-pane" role="tabpanel" aria-labelledby="Search-tab" tabindex="0">
                                                    <div class="menu-tabs">
                                                        <label for="exampleFormControlInput1" class="form-label">Search</label>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Page Name">
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center flex-wrap">
                                                    
                                                    <a href="javascript:void(0);" class="checkAllInput" (click)="setAll()">Select All</a><span class="mx-2">|</span>
                                                    <a href="javascript:void(0);" class="unCheckAllInput" (click)="deselectAll()">Deselect All</a>
                                                </div>
                                                <a  class="btn btn-primary btn-sm dz-menu-btn mt-3">Add to Menu</a>
                                            </div>
                                        </div>   
                                    </div>
                                </div>
                                <div class="filter cm-content-box box-primary border">
                                    <div class="content-title border-0"(click)="dropicon(4)"
                                    data-bs-target="#default-collapse-4" data-bs-toggle="collapse">
                                        <div class="cpa">
                                            Links 
                                        </div>
                                        <div class="tools">
                                            <a href="javascript:void(0);" class="SlideToolHeader" 
                                            [ngClass]="{'expand':activeToggleArray.indexOf(4) > -1 }" ><i class="fal fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div class="cm-content-body form excerpt border-top accordion-collapse collapse show" id="default-collapse-4" data-bs-parent="#accordion-one">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-xl-4">
                                                    <h6>URL</h6>
                                                </div>
                                                <div class="col-xl-8">
                                                     <input type="text" class="form-control mb-2" placeholder="">
                                                </div>
                                                <div class="col-xl-4">
                                                    <h6 class="mb-xl-0 text-nowrap ">Link Text</h6>
                                                </div>
                                                <div class="col-xl-8">
                                                     <input type="text" class="form-control" placeholder="Menu items">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                  <div class="filter cm-content-box box-primary">
                      <div class="content-title flex-wrap">
                          <div class="cpa d-flex align-items-center flex-wrap">
                              Menu Name
                              <input type="text" class="form-control w-auto ms-3" placeholder="information">
                          </div>
                          <button type="button" class="btn btn-secondary btn-sm ms-sm-auto mb-2 mb-sm-0">Save Menu</button>
                      </div>
                      <div class="cm-content-body  form excerpt rounded-0">
                          <div class="card-body">
                              <h6 class="mb-1">Menu Structure</h6>
                              <p class="fs-13">Add menu items from the column on the left.</p>
                              <div class="col-xl-12">
                                  <div class="dd" id="nestable">
                                      <ol class="dd-list accordion p-0" id="accordionExample" (cdkDropListDropped)="drop($event)" cdkDropList>
                                        <li class="accordion-item dd-item menu-ac-item" data-id="2" *ngFor="let movie of movies ; let i = index" cdkDrag>                                         
                                              <div class="accordion-header position-relative">
                                                  <div class="move-media dd-handle" cdkDragHandle>
                                                      <i class="fa-solid fa-arrows-up-down-left-right"></i>
                                                  </div>
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                [attr.data-bs-target]="'#' + movie.key" aria-expanded="false" aria-controls="'#' + movie.key"
                                                  >
                                                   {{movie.value}}
                                                </button>
                                              </div>
                                              <div id="{{movie.key}}" [ngClass]="{'show': i == 0}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                  <div class="accordion-body">
                                                      <div class="row">
                                                          <div class="col-xl-6">
                                                              <form>
                                                                <div class="mb-3">
                                                                  <label  class="form-label">Navigation Label</label>
                                                                  <input type="text" class="form-control" placeholder="Privacy Policy">
                                                                </div>
                                                              </form>
                                                          </div>
                                                          <div class="col-xl-6">
                                                              <form>
                                                                <div class="mb-3">
                                                                  <label  class="form-label">Title Attribute</label>
                                                                  <input type="text" class="form-control" placeholder="Privacy Policy">
                                                                </div>
                                                              </form>
                                                          </div>
                                                          <div class="col-xl-12">
                                                              <p class="dz-terms">Original: <a href="javascript:void(0);">Privacy Policy</a></p>
                                                          </div>
                                                          <div class="d-flex align-items-center">
                                                              <a href="javascript:void(0);">Remove</a><span class="mx-2">|</span>
                                                              <a href="javascript:void(0);"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                              Cancel
                                                            </a>
                                                          </div>
                                                      </div>												
                                                  </div>
                                              </div>
                                            </li>
                                      </ol>
                                  </div>
                              </div>
                          </div>		
                      </div>
                      <div class="filter cm-content-box box-primary style-1 mb-0 border-0">
                          <div class="content-title">
                              <div class="cpa">
                                  Delete Menu
                              </div>
                              <button type="button" class="btn btn-secondary btn-sm">Save Menu</button>
                          </div>
                      </div>
                  </div>
              </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>