<div class="basic-form">
    <form action="#">
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <span class="input-group-text rounded-0">0.00</span>
            <input type="text" class="form-control">
        </div>

        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-text rounded-0">$</span>
            <span class="input-group-text">0.00</span>
        </div>
    </form>
</div>