<h4>No animation</h4>

<mat-tab-group animationDuration="0ms" class="mb-5">
  <mat-tab label="First"><div class="py-3">Content 1</div></mat-tab>
  <mat-tab label="Second"><div class="py-3">Content 2</div></mat-tab>
  <mat-tab label="Third"><div class="py-3">Content 3</div></mat-tab>
</mat-tab-group>

<h4>Very slow animation</h4>
<mat-tab-group animationDuration="2000ms">
  <mat-tab label="First"><div class="py-3">Content 1</div></mat-tab>
  <mat-tab label="Second"><div class="py-3">Content 2</div></mat-tab>
  <mat-tab label="Third"><div class="py-3">Content 3</div></mat-tab>
</mat-tab-group>
