<div class="basic-form">
    <form action="#">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Small</span>
            <input type="text" class="form-control">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Default</span>
            <input type="text" class="form-control">
        </div>

        <div class="input-group input-group-lg">
            <span class="input-group-text">Large</span>
            <input type="text" class="form-control">
        </div>
    </form>
</div>