<div class="basic-form">
    <form>
        <div class="row align-items-center">
            <div class="col-auto my-1">
                <label class="me-sm-2">Preference</label>
                <select class="me-sm-2 form-control wide" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </form>
</div>