
 <!-- Swiper -->
 <div class="swiper-container card-center-bx overflow-hidden">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><app-main-card class="custom-swiper"></app-main-card></div>
      <div class="swiper-slide"><app-purple-card class="custom-swiper"></app-purple-card></div>
      <div class="swiper-slide"><app-green-card class="custom-swiper"></app-green-card></div>
      <div class="swiper-slide"> <app-orange-card class="custom-swiper"></app-orange-card></div>
      <div class="swiper-slide"><app-main-card class="custom-swiper"></app-main-card></div>
      <div class="swiper-slide"><app-purple-card class="custom-swiper"></app-purple-card></div>
      <div class="swiper-slide"><app-green-card class="custom-swiper"></app-green-card></div>
    </div>
  </div>
