<div class="content-body default-height">
    <div class="container-fluid default-mt-stepper">
        <!-- Conten Head -->
        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        <!-- Conten Head End-->
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Stepper with editable steps</h4>
                    </div>
                    <div class="card-body">
                        <app-editable-steps></app-editable-steps>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Stepper that displays errors in the steps</h4>
                    </div>
                    <div class="card-body">
                        <app-displays-errors-in-steps></app-displays-errors-in-steps>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Stepper label bottom position</h4>
                    </div>
                    <div class="card-body">
                        <app-label-bottom-position></app-label-bottom-position>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Stepper with optional steps</h4>
                    </div>
                    <div class="card-body">
                        <app-optional-steps></app-optional-steps>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Stepper overview</h4>
                    </div>
                    <div class="card-body">
                        <app-stepper-overview></app-stepper-overview>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Stepper with customized states</h4>
                    </div>
                    <div class="card-body">
                        <app-stepper-customized-states></app-stepper-customized-states>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Stepper vertical</h4>
                    </div>
                    <div class="card-body">
                        <app-stepper-vertical></app-stepper-vertical>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Stepper Animation</h4>
                    </div>
                    <div class="card-body">
                        <app-stepper-animations></app-stepper-animations>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Stepper Header Position</h4>
                    </div>
                    <div class="card-body">
                        <app-stepper-header-position></app-stepper-header-position>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Custom Stepper With Validation</h4>
                    </div>
                    <div class="card-body">
                        <app-custom-stepper></app-custom-stepper>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>