.active[_ngcontent-ng-c960459596] {
    color: #fff !important;
    background: var(--primary) !important;
}

.testimonial-one .owl-carousel .owl-item .image-bx {
    position: relative;
    border-radius: 8px;
}

.testimonial-one .owl-carousel .owl-item .image-bx img {
    border-radius: 8px;
}

.testimonial-one .owl-carousel .owl-item {
    text-align: center;
    padding: 10px 18px;
    border-radius: 8px;
}

.testimonial-one .owl-carousel .owl-item.center {
    background: #e8f6fd;
}

.testimonial-one .owl-carousel .owl-item.center .image-bx i {
    position: absolute;
    height: 1.875rem;
    opacity: 1;
    width: 1.875rem;
    border-radius: 0.5rem;
    bottom: 0;
    right: 0;
    background: var(--primary);
    color: #fff;
    line-height: 1.875rem;
    text-align: center;
}

.testimonial-one .owl-carousel .owl-item .image-bx i {
    position: absolute;
    opacity: 0;
}

.testimonial-one .owl-carousel .owl-nav .owl-prev {
    left: -3.75rem;
}

@media only screen and (max-width: 767px) {
    .testimonial-one .owl-carousel .owl-nav .owl-prev {
        left: -2.5rem;
    }
}

.testimonial-one .owl-carousel .owl-nav .owl-next {
    right: -3.75rem;
}

@media only screen and (max-width: 767px) {
    .testimonial-one .owl-carousel .owl-nav .owl-next {
        right: -2.5rem;
    }
}

.testimonial-one .owl-carousel .owl-nav .owl-prev,
.testimonial-one .owl-carousel .owl-nav .owl-next {
    position: absolute;
    width: 4.25rem;
    height: 4.25rem;
    line-height: 3.25rem;
    border-radius: 80px;
    border: 0.5rem solid var(--body-bg);
    top: 50%;
    background: var(--card);
    color: var(--primary);
    font-size: 1.875rem;
    margin-top: -1.875rem;
    text-align: center;
    cursor: pointer;
}

.svg-icons-ov {
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    align-items: center;
    padding: 15px 15px 75px;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
}

.svg-icons-ov.style-1 {
    padding: 15px;
    flex-direction: column;
    cursor: pointer;
}

.svg-icons-ov.style-1 .svg-icons-prev {
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    line-height: 3.263rem;
    text-align: center;
    background-color: var(--rgba-primary-1);
    border-radius: 50%;
    margin-bottom: 0.688rem;
    margin-right: 0;
}

.svg-icons-ov .svg-icons-prev i {
    font-size: 21px;
    color: var(--primary);
}

.svg-icons-ov.style-1 .svg-icons-prev {
    line-height: 3.263rem;
    text-align: center;
}

.svg-icons-ov:hover {
    border-color: var(--primary);
}


/*-------------------------------------  Commen css  ----------------------------------------*/


.custom-dropdown .btn:focus {
    outline: transparent !important;
}

[ngbDatepickerDayView] {
    width: 2.5rem !important;
    height: 2.5rem !important;
    padding: 5px !important;
}

table.dataTable>thead>tr>th {
    padding: 1rem 0.9375rem !important;
}


.dashboard-full-calendar {
    overflow: auto;
}

.costem-set .ngb-dp-today .btn-light {
    color: white;
    position: relative;
    background-color: var(--primary) !important;
}

.costem-set .ngb-dp-today .btn-light::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -3px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background: #FE634E;
}

/*****  Light-gallery  *****/
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-thumbnail.css');


/**  --- Forms-pickers -- Data Custom ---  **/
.custom-day {
    text-align: center;
    padding: 7px 8px;
    display: inline-block;
    width: 2.5rem;
}

.ngb-dp-day,
.ngb-dp-weekday {
    width: 2.5rem !important;
    height: unset !important;
}

.custom-day.ngb-dp-day {
    height: unset !important;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: var(--primary);
    color: white;
    border-radius: 8px
}

.custom-day.faded {
    background-color: #eee;
    border-radius: 0;
    color: rgb(0, 0, 0)
}

.vw-25 {
    width: 10px !important;
}

.data-picker-costem .dropdown-menu {
    font-size: small !important;
    border-radius: 0 !important;
    padding: 5px !important;
}

.data-picker-costem .dropdown-menu .ngb-dp-header {
    background-color: #fff !important;
}

.data-picker-costem .dropdown-menu .ngb-dp-month-name {
    background-color: #fff !important;
}

.data-picker-costem .dropdown-menu .ngb-dp-weekdays {
    border-bottom: 0px !important;
    background-color: #fff !important;
}

.data-picker-costem .dropdown-menu .ngb-dp-weekday {
    color: #8a8a8a !important;
}


/**  --- Toast ---  **/
.toast-container .toast-info {
    background-color: var(--primary) !important;
}

.toast-container .ngx-toastr {
    width: 500px !important;
    border-radius: 10px !important;
}

.toast-container .ngx-toastr:hover {
    box-shadow: 0px 0px 8px 0px black !important;
}

.toast-top-full-width .ngx-toastr {
    min-width: 95%;
    margin-top: 10px !important;
}

.toast-bottom-full-width .ngx-toastr {
    min-width: 95%;
    margin-bottom: 10px !important;
}

/*** Apps Calender Component CSS  ***/
.lg-backdrop {
    background-color: rgba(30, 30, 30, 0.9) !important;
}

.lg-thumb-outer.lg-grab,
.lg-toogle-thumb.lg-icon {
    background-color: rgba(30, 30, 30, 0.6) !important;
}

.calendar-checkbox {
    border-radius: 6px;
    background: #0b937b2e;
    padding: 10px 15px;
    margin-bottom: 5px;
    color: #000;
}

.calendar-list .list-group-item {
    background: #e6eeffa8;
    color: var(--primary);
    border: 0;
    border-left-width: 0px;
    border-left-style: none;
    border-left-color: currentcolor;
    margin-bottom: 5px;
    border-radius: 6px;
    position: relative;
    border-left: 4px solid var(--primary);
}

.calendar-description h2 {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
}

.calendar-description ul li {
    font-size: 15px;
}

.calendar-checkbox label {
    cursor: pointer;
}

/*** apps email compose  ***/
.compose-content .dz-clickable {
    justify-content: center;
    align-items: center;
    display: flex;
}

/*** Apps Shop - Rating ***/
.rating-widget {
    color: #ffb300 !important;
    font-size: 30px !important;
}

/**** custom Swiper CSS  ****/
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

.swiper-slide {
    display: flex;
    justify-content: center
}

@media only screen and (max-width: 575px) {

    .custom-swiper,
    .card-center-bx .card-bx {
        width: 100% !important;
    }
}




/*** Bootstrap list-group ***/
.list-tab .flex-column {
    border-radius: 8px;
}

.list-tab .list-group-item.active {
    color: #fff !important;
}

/**  --- Bootstrap-pagination ---  **/
.circle .pagination .page-item .page-link span {
    color: #6e6e6e !important;
}

.circle .pagination .page-item .page-link:hover span {
    color: #ffffff !important;
}

.default .pagination .page-item .page-link span {
    color: #6e6e6e !important;
}

.default .pagination .page-item .page-link:hover span {
    color: #ffffff !important;
}

.gutter .pagination .page-item .page-link span {
    color: #6e6e6e !important;
}

.color-pagination .pagination-primary .pagination .page-item .page-link span {
    color: var(--primary);
}

.color-pagination .pagination-danger .pagination .page-item .page-link span {
    color: #f72b50 !important;
}

.color-pagination .pagination-info .pagination .page-item .page-link span {
    color: #2781d5 !important;
}

.color-pagination .pagination-warning .pagination .page-item .page-link span {
    color: #ff5c00 !important;
}

.color-pagination .pagination .page-item .page-link:hover span {
    color: #ffffff !important;
}

.pagination .page-item .page-link.active {
    color: #fff !important;
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

/**  --- Bootstrap-progress ---  **/
.progress-custom .progress-vertical .progress-bar {
    width: 100% !important;
}

.progress-custom .progress-vertical-bottom .progress-bar {
    width: 100% !important;
}

/** --- Form = time-picker ---  **/
.timepicker__header[_ngcontent-ng-c2461858124] {
    background-color: var(--primary) !important;
}

.clock-face__number[_ngcontent-ng-c3748324829]>span.active[_ngcontent-ng-c3748324829] {
    background-color: var(--primary) !important;
}

.clock-face__clock-hand[_ngcontent-ng-c3748324829] {
    background-color: var(--primary) !important;
}

.timepicker-button[_ngcontent-ng-c2291525576] {
    color: var(--primary) !important;
}

.ngx-material-timepicker-toggle[_ngcontent-ng-c2650624585] {
    padding: 0px !important;
}

@media screen and (max-width: 1400px) {
    #time .ngx-material-timepicker-toggle {
        height: 20px;
    }
}

/***-------------------------- Material ----------------------------***/

.custom-basic-btn .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.custom-basic-btn .example-button-row {
    display: table-cell;
}

.custom-basic-btn .example-button-row .mat-mdc-button-base {
    margin: 15px 15px 15px 0;
}

.custom-basic-btn .example-button-container {
    display: flex;
    justify-content: center;
    width: 100px;
}

.custom-basic-btn .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.custom-card .example-card {
    max-width: 400px;
    border-radius: 10px !important;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.custom-grid mat-grid-tile {
    background: lightblue;
}

.custom-radio .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.custom-radio .example-radio-button {
    margin: 5px;
}

.custom-sidenav .example-container {
    width: 100%;
    height: 400px;
    box-shadow: 0 0 10px;
}

.custom-sidenav .example-sidenav {
    padding: 20px;
}

.custom-sidenav .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.custom-slide-toggle .example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
}

.custom-example-container {
    height: 400px;
    width: 550px;
    max-width: 100%;
    overflow: auto;
}

.example-container {
    height: 270px;
    overflow: auto;
}

table {
    width: 100%;
}

tr.mat-mdc-footer-row {
    font-weight: bold;
}

.mat-mdc-table-sticky {
    border-top: 1px solid #e0e0e0;
}

.custom-tooltip-auto1 .example-container {
    height: 200px;
    overflow: auto;
    border: 1px solid #ccc;
}

.custom-tooltip-auto1 .example-button {
    display: block;
    margin: 80px auto 100px;
}

.example-spacer {
    flex: 1 1 auto;
}


.custom-tree,
.mat-tree {
    background: #e5e5e596;
}

.custom-tree .example-tree-progress-bar {
    margin-left: 30px;
    margin-right: 30px;
}

.custom-tree-nested .example-tree-invisible {
    display: none;
}

.custom-tree-nested .example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

/****---------------------  Select2  -----------------------*****/


.select2 .select2-selection {
    border: 1px solid var(--border) !important;
    height: 2.875rem !important;
    border-radius: 0.5rem !important;
    padding-right: 10px;
    background: var(--card) !important;
    border-color: var(--border) !important;
}

.select2 .select2-selection .select2-selection__rendered {
    padding: 10px 15px !important;
    line-height: 1.6 !important;
    font-size: 0.9rem !important;
    color: var(--text) !important;
}

.select2 .select2-results__option.select2-results__option--highlighted {
    color: #514e5f !important;
    background-color: #f4f4f4 !important;
}

.select2 .select2-container--default[_ngcontent-ng-c3594247780] .select2-results__option[aria-selected=true][_ngcontent-ng-c3594247780] {
    background: var(--rgba-primary-1) !important;
    color: var(--primary) !important;
}

.select2 .select2-results__option {
    padding: 0.50rem 1rem !important;
    font-size: 0.875rem !important;
}

.select2 .select2-dropdown {
    border: none !important;
    box-shadow: 0 0 3.125rem 0 rgba(82, 63, 105, 0.15);
}

.select2 .select2-label {
    margin-bottom: 0 !important;
}

.select2 .select2-selection:focus {
    border: 1px solid var(--primary) !important;
}

.selectSizebig .select2 .select2-selection {
    height: 3.6rem !important;
}

.selectSizebig .select2 .select2-selection .select2-selection__rendered {
    font-size: 1.3rem !important;
    line-height: 1.6 !important;
}

.selectSizebig .select2 .select2-results__option {
    font-size: 1.3rem !important;
}

.selectSizeSmall .select2 .select2-selection {
    height: 2.3rem !important;
}

.selectSizeSmall .select2 .select2-selection .select2-selection__rendered {
    font-size: 0.800rem !important;
    line-height: 1 !important;
}

.selectSizeSmall .select2 .select2-results__option {
    font-size: 0.800rem !important;
}

.select2 .select2-container .select2-search .select2-search__field {
    border: 1px solid var(--border) !important;
    height: 2.875rem !important;
    border-radius: 0.5rem !important;
}

.select2 .select2-container .select2-search {
    padding: 0.50rem 1rem !important;
}

.select2 .select2-container .select2-dropdown {
    background-color: var(--card);
}

.select2 .select2-container .select2-dropdown .select2-results__option {
    color: var(--bs-dropdown-link-color);
}

html [data-theme-version="dark"] {
    .select2 .select2-results__option.select2-results__option--highlighted {
        background-color: #181f39 !important;
    }
}

.mdc-form-field .mdc-label {
    margin-bottom: 0;
}

.mat-sort-header-container {
    padding: 0 !important;
}

.requiredErrer {
    /* Input required error */
    border: 1px solid red;
}

::ng-deep .tooltip-inner {
    margin-bottom: 5px !important;
}

::ng-deep .tooltip-arrow::before {
    top: -5px !important;
    position: absolute;
}

/***-------------------------- Met color ----------------------------***/

html [data-theme-version="dark"] {
    .custom-date-time .ngb-dp-month-name {
        color: white !important;
    }

    .custom-date-time .ngb-dp-weekday {
        color: white !important;
    }

    .custom-date-time .ngb-dp-arrow-btn {
        color: white !important;
    }

    .custom-date-time .custom-btn {
        color: white !important;
    }

    .custom-date-time .ngb-tp .ngb-tp-input-container .btn {
        color: white;
    }

    .event-calender {
        color: white;
    }

    .clock-face[_ngcontent-ng-c3748324829] {
        background-color: #181c1f;
    }

    .timepicker__body[_ngcontent-ng-c2461858124] {
        background-color: #21262b;
    }

    .clock-face__number--outer[_ngcontent-ng-c3748324829]>span[_ngcontent-ng-c3748324829] {
        color: #fff;
    }

    .timepicker__actions[_ngcontent-ng-c2461858124] {
        background-color: #21262b;
    }

    .text-dark {
        color: #ececec !important;
    }

    .border {
        border: 1px solid #575757bd !important;
        /* background: #24292d !important; */
    }

    .apexcharts-pie .apexcharts-pie-area {
        stroke: #2f363e !important;
    }

    .calendar-checkbox {
        color: #ffffff;
    }
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: var(--primary);
}

.mat-mdc-button.mat-primary {
    --mdc-text-button-label-text-color: var(--primary);
}

.mat-mdc-button.mat-primary,
.mat-mdc-outlined-button.mat-primary {
    --mat-mdc-button-persistent-ripple-color: var(--primary);
}

.mat-mdc-outlined-button.mat-primary {
    --mdc-outlined-button-label-text-color: var(--primary);
}

.mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-container-color: var(--primary);
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
    --mdc-fab-container-color: var(--primary);
}

.mat-mdc-icon-button.mat-primary {
    --mdc-icon-button-icon-color: var(--primary);
    --mat-mdc-button-persistent-ripple-color: var(--primary);
}

.mat-mdc-checkbox.mat-primary {
    --mdc-checkbox-selected-focus-icon-color: var(--primary);
    --mdc-checkbox-selected-hover-icon-color: var(--primary);
    --mdc-checkbox-selected-icon-color: var(--primary);
    --mdc-checkbox-selected-pressed-icon-color: var(--primary);
    --mdc-checkbox-selected-focus-state-layer-color: var(--primary);
    --mdc-checkbox-selected-hover-state-layer-color: var(--primary);
    --mdc-checkbox-selected-pressed-state-layer-color: var(--primary);
}

html {
    --mdc-filled-text-field-caret-color: var(--primary);
    --mdc-filled-text-field-focus-active-indicator-color: var(--primary);
    --mdc-filled-text-field-focus-label-text-color: var(--primary);
    --mat-option-selected-state-label-text-color: var(--primary);
    --mat-badge-background-color: var(--primary);

    --mdc-outlined-text-field-caret-color: var(--primary);
    --mdc-outlined-text-field-focus-outline-color: var(--primary);
    --mdc-outlined-text-field-focus-label-text-color: var(--primary);

    --mat-stepper-header-selected-state-icon-background-color: var(--primary);
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: var(--primary);
}

.mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary,
.mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary {
    --mdc-chip-elevated-container-color: var(--primary);
    --mdc-chip-elevated-disabled-container-color: var(--primary);
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: var(--primary);
}

.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: var(--primary);
    --mdc-slider-focus-handle-color: var(--primary);
    --mdc-slider-hover-handle-color: var(--primary);
    --mdc-slider-active-track-color: var(--primary);
    --mdc-slider-inactive-track-color: var(--primary);
    --mdc-slider-with-tick-marks-inactive-container-color: var(--primary);
    --mat-mdc-slider-ripple-color: var(--primary);
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: var(--primary);
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
    background: var(--primary);
}

.default-mt-table .stickyColumns-table .mat-mdc-table-sticky {
    background: var(--primary) !important;
}

.default-mt-table .stickyColumns-table .mat-mdc-table-sticky {
    color: #fff;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: var(--primary);
    --mat-tab-header-active-label-text-color: var(--primary);
    --mat-tab-header-active-ripple-color: var(--primary);
    --mat-tab-header-inactive-ripple-color: var(--primary);
    --mat-tab-header-active-focus-label-text-color: var(--primary);
    --mat-tab-header-active-hover-label-text-color: var(--primary);
    --mat-tab-header-active-focus-indicator-color: var(--primary);
    --mat-tab-header-active-hover-indicator-color: var(--primary);
}

.mat-mdc-tab-group.mat-background-primary,
.mat-mdc-tab-nav-bar.mat-background-primary {
    --mat-tab-header-with-background-background-color: var(--primary);
}

.mat-toolbar.mat-primary {
    --mat-toolbar-container-background-color: var(--primary);
}

.mat-mdc-select-arrow {
    --mat-select-focused-arrow-color: var(--primary);
}

/* .eye {
    bottom: 10px;
} */
.eye {
    bottom: 0px;
    right: 0px;
    height: 45px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width : 1600px) {
    .form-select {
        height: 2.5rem;
    }

    .eye {
        height: 40px;
        width: 3rem;
    }
}

.menu-toggle .deznav .metismenu>li>a>.badge,
[data-sidebar-style="mini"] .deznav .metismenu>li>a>.badge {
    display: none;
}



/* dark version */

[data-theme-version="dark"] .form-label {
    color: #fff;
}

[data-theme-version="dark"] .form-select {
    background-color: #1e2746;
    border-color: #333a54d1;
}

[data-theme-version="dark"] .form-select:focus {
    border-color: var(--primary);
}

[data-theme-version="dark"] .calendar-list .list-group .list-group-item {
    background: #181f39 !important;
    color: #fff !important;
}

[data-theme-version="dark"] .apexcharts-text tspan {
    fill: white;
}

html [data-theme-version="dark"] {
    /* #1c1e20 */
    /* #040404 */
    --mdc-filled-text-field-container-color: #181f39;
    --mat-autocomplete-background-color: #1e284f;
    --mdc-filled-text-field-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-option-label-text-color: rgba(255, 255, 255, 0.87);
    --mdc-filled-text-field-input-text-color: rgba(255, 255, 255, 0.87);
    --mdc-filled-text-field-input-text-placeholder-color: rgba(255, 255, 255, .6);

    --mat-option-hover-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-option-focus-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-option-selected-state-layer-color: rgba(255, 255, 255, 0.04);

    --mat-bottom-sheet-container-text-color: rgba(255, 255, 255, 0.87);
    --mat-bottom-sheet-container-background-color: #1e284f;

    --mdc-filled-text-field-active-indicator-color: rgba(255, 255, 255, 0.3);
    --mdc-filled-text-field-hover-active-indicator-color: rgba(255, 255, 255, 0.87);
    --mat-optgroup-label-text-color: rgba(255, 255, 255, 0.87);
    --mat-divider-color: rgba(255, 255, 255, 0.12);

    --mdc-filled-text-field-disabled-container-color: #181f39;
    --mdc-filled-text-field-disabled-label-text-color: rgba(255, 255, 255, 0.38);

    --mdc-filled-text-field-disabled-input-text-color: rgba(255, 255, 255, 0.38);
    --mdc-filled-text-field-disabled-active-indicator-color: rgba(255, 255, 255, 0.06);

    --mat-menu-item-label-text-color: rgba(255, 255, 255, 0.87);
    --mat-menu-item-icon-color: rgba(255, 255, 255, 0.87);
    --mat-menu-item-hover-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-menu-item-focus-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-menu-container-color: black;

    --mat-legacy-button-toggle-text-color: rgba(255, 255, 255, 0.38);
    --mat-legacy-button-toggle-state-layer-color: rgba(255, 255, 255, 0.12);
    --mat-legacy-button-toggle-selected-state-text-color: rgba(255, 255, 255, 0.54);
    --mat-legacy-button-toggle-selected-state-background-color: #251a2f;
    --mat-legacy-button-toggle-disabled-state-text-color: rgba(255, 255, 255, 0.26);
    --mat-legacy-button-toggle-disabled-state-background-color: #1e284f;
    --mat-legacy-button-toggle-disabled-selected-state-background-color: #181f39;
    --mat-standard-button-toggle-text-color: rgba(255, 255, 255, 0.87);
    --mat-standard-button-toggle-background-color: #1e284f;
    --mat-standard-button-toggle-state-layer-color: white;
    --mat-standard-button-toggle-selected-state-background-color: #251a2f;
    --mat-standard-button-toggle-selected-state-text-color: rgba(255, 255, 255, 0.87);
    --mat-standard-button-toggle-disabled-state-text-color: rgba(255, 255, 255, 0.26);
    --mat-standard-button-toggle-disabled-state-background-color: #181f39;
    --mat-standard-button-toggle-disabled-selected-state-text-color: rgba(255, 255, 255, 0.87);
    --mat-standard-button-toggle-disabled-selected-state-background-color: #181f39;
    --mat-standard-button-toggle-divider-color: #4c4b4c;

    --mdc-checkbox-disabled-selected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-unselected-focus-icon-color: #fff;
    --mdc-checkbox-unselected-hover-icon-color: #fff;
    --mdc-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-focus-state-layer-color: #fff;
    --mdc-checkbox-unselected-hover-state-layer-color: #fff;
    --mdc-checkbox-unselected-pressed-state-layer-color: #fff;


    --mat-datepicker-calendar-date-selected-state-text-color: black;
    --mat-datepicker-calendar-date-today-selected-state-outline-color: black;
    --mat-datepicker-toggle-icon-color: rgba(255, 255, 255, 0.54);
    --mat-datepicker-calendar-body-label-text-color: rgba(255, 255, 255, 0.54);
    --mat-datepicker-calendar-period-button-icon-color: rgba(255, 255, 255, 0.54);
    --mat-datepicker-calendar-navigation-button-icon-color: rgba(255, 255, 255, 0.54);
    --mat-datepicker-calendar-header-divider-color: rgba(255, 255, 255, 0.12);
    --mat-datepicker-calendar-header-text-color: rgba(255, 255, 255, 0.54);
    --mat-datepicker-calendar-date-today-outline-color: rgba(255, 255, 255, 0.38);
    --mat-datepicker-calendar-date-today-disabled-state-outline-color: rgba(255, 255, 255, 0.18);
    --mat-datepicker-calendar-date-text-color: rgba(255, 255, 255, 0.87);
    --mat-datepicker-calendar-date-disabled-state-text-color: rgba(255, 255, 255, 0.38);
    --mat-datepicker-calendar-date-preview-state-outline-color: rgba(255, 255, 255, 0.24);
    --mat-datepicker-range-input-separator-color: rgba(255, 255, 255, 0.87);
    --mat-datepicker-range-input-disabled-state-separator-color: rgba(255, 255, 255, 0.38);
    --mat-datepicker-range-input-disabled-state-text-color: rgba(255, 255, 255, 0.38);
    --mat-datepicker-calendar-container-background-color: black;
    --mat-datepicker-calendar-container-text-color: rgba(255, 255, 255, 0.87);

    --mat-expansion-container-background-color: #1e284f;
    --mat-expansion-container-text-color: rgba(255, 255, 255, 0.87);
    --mat-expansion-actions-divider-color: rgba(255, 255, 255, 0.12);
    --mat-expansion-header-hover-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-expansion-header-focus-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-expansion-header-disabled-state-text-color: rgba(255, 255, 255, 0.26);
    --mat-expansion-header-text-color: rgba(255, 255, 255, 0.87);
    --mat-expansion-header-description-color: rgba(255, 255, 255, 0.54);
    --mat-expansion-header-indicator-color: rgba(255, 255, 255, 0.54);

    --mdc-outlined-text-field-label-text-color: rgba(255, 255, 255, 0.6);
    --mdc-outlined-text-field-disabled-label-text-color: rgba(255, 255, 255, 0.38);
    --mdc-outlined-text-field-input-text-color: rgba(255, 255, 255, 0.87);
    --mdc-outlined-text-field-disabled-input-text-color: rgba(255, 255, 255, 0.38);
    --mdc-outlined-text-field-input-text-placeholder-color: rgba(255, 255, 255, 0.6);

    --mdc-outlined-text-field-outline-color: rgba(255, 255, 255, 0.38);
    --mdc-outlined-text-field-disabled-outline-color: rgba(255, 255, 255, 0.06);
    --mdc-outlined-text-field-hover-outline-color: rgba(255, 255, 255, 0.87);

    --mat-form-field-disabled-input-text-placeholder-color: rgba(255, 255, 255, 0.38);

    --mat-select-panel-background-color: black;
    --mat-select-enabled-trigger-text-color: rgba(255, 255, 255, 0.87);
    --mat-select-disabled-trigger-text-color: rgba(255, 255, 255, 0.38);
    --mat-select-placeholder-text-color: rgba(255, 255, 255, 0.6);
    --mat-select-enabled-arrow-color: rgba(255, 255, 255, 0.54);
    --mat-select-disabled-arrow-color: rgba(255, 255, 255, 0.38);

    --mat-paginator-container-text-color: rgba(255, 255, 255, 0.87);
    --mat-paginator-container-background-color: #181f39;
    --mat-paginator-enabled-icon-color: rgba(255, 255, 255, 0.54);
    --mat-paginator-disabled-icon-color: rgba(255, 255, 255, 0.12);

    --mat-sidenav-container-divider-color: rgba(255, 255, 255, 0.12);
    --mat-sidenav-container-background-color: black;
    --mat-sidenav-container-text-color: rgba(255, 255, 255, 0.87);
    --mat-sidenav-content-background-color: #1e284f;
    --mat-sidenav-content-text-color: rgba(255, 255, 255, 0.87);
    --mat-sidenav-scrim-color: rgba(255, 255, 255, 0.6);

    --mat-stepper-header-icon-foreground-color: black;
    --mat-stepper-header-selected-state-icon-foreground-color: black;
    --mat-stepper-header-done-state-icon-foreground-color: black;
    --mat-stepper-header-edit-state-icon-foreground-color: black;
    --mat-stepper-container-color: #252f57ad;
    --mat-stepper-line-color: rgba(255, 255, 255, 0.12);
    --mat-stepper-header-hover-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-stepper-header-focus-state-layer-color: rgba(255, 255, 255, 0.04);
    --mat-stepper-header-label-text-color: rgba(255, 255, 255, 0.54);
    --mat-stepper-header-optional-label-text-color: rgba(255, 255, 255, 0.54);
    --mat-stepper-header-selected-state-label-text-color: rgba(255, 255, 255, 0.87);
    --mat-stepper-header-icon-background-color: rgba(255, 255, 255, 0.54);

    --mat-table-background-color: #1e284f;
    --mat-table-header-headline-color: rgba(255, 255, 255, 0.87);
    --mat-table-row-item-label-text-color: rgba(255, 255, 255, 0.87);
    --mat-table-row-item-outline-color: rgba(255, 255, 255, 0.12);


}

[data-theme-version="dark"] .mat-mdc-slide-toggle {
    --mdc-switch-disabled-selected-track-color: #fff;
    --mdc-switch-disabled-unselected-track-color: #fff;
}

[data-theme-version="dark"] .mat-mdc-list-base {
    --mdc-list-list-item-label-text-color: rgba(255, 255, 255, 0.87);
    --mdc-list-list-item-supporting-text-color: rgba(255, 255, 255, 0.54);
    --mdc-list-list-item-leading-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-list-list-item-trailing-supporting-text-color: rgba(255, 255, 255, 0.38);
    --mdc-list-list-item-trailing-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-list-list-item-selected-trailing-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-list-list-item-disabled-label-text-color: white;
    --mdc-list-list-item-disabled-leading-icon-color: white;
    --mdc-list-list-item-disabled-trailing-icon-color: white;
    --mdc-list-list-item-hover-label-text-color: rgba(255, 255, 255, 0.87);
    --mdc-list-list-item-hover-leading-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-list-list-item-hover-trailing-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-list-list-item-focus-label-text-color: rgba(255, 255, 255, 0.87);
    --mdc-list-list-item-hover-state-layer-color: white;
    --mdc-list-list-item-focus-state-layer-color: white;
}

[data-theme-version="dark"] .mat-mdc-button.mat-unthemed {
    --mdc-text-button-label-text-color: #fff;
}

[data-theme-version="dark"] .mat-mdc-button[disabled][disabled] {
    --mdc-text-button-disabled-label-text-color: rgba(255, 255, 255, 0.38);
}

[data-theme-version="dark"] .mat-mdc-outlined-button.mat-unthemed {
    --mdc-outlined-button-label-text-color: #fff;
}

[data-theme-version="dark"] .mat-mdc-fab[disabled][disabled],
[data-theme-version="dark"] .mat-mdc-mini-fab[disabled][disabled] {
    --mdc-fab-container-color: rgba(255, 255, 255, 0.12);
    --mdc-fab-icon-color: rgba(255, 255, 255, 0.38);
    --mat-mdc-fab-color: rgba(255, 255, 255, 0.38);
}

[data-theme-version="dark"] .mat-mdc-slide-toggle .mdc-form-field {
    color: #fff;
}

[data-theme-version="dark"] .mat-mdc-raised-button[disabled][disabled] {
    --mdc-protected-button-disabled-container-color: rgba(255, 255, 255, 0.12);
    --mdc-protected-button-disabled-label-text-color: rgba(255, 255, 255, 0.38);
    --mdc-protected-button-container-color: rgba(255, 255, 255, 0.12);
    --mdc-protected-button-label-text-color: rgba(255, 255, 255, 0.38);
}

[data-theme-version="dark"] .mat-mdc-outlined-button:not(:disabled) {
    border-color: rgba(255, 255, 255, 0.12);
}

[data-theme-version="dark"] .mat-mdc-outlined-button[disabled][disabled] {
    --mdc-outlined-button-label-text-color: rgba(255, 255, 255, 0.38);
    --mdc-outlined-button-disabled-label-text-color: rgba(255, 255, 255, 0.38);
    --mdc-outlined-button-outline-color: rgba(255, 255, 255, 0.12);
    --mdc-outlined-button-disabled-outline-color: rgba(255, 255, 255, 0.12);
}

[data-theme-version="dark"] .mat-mdc-unelevated-button[disabled][disabled] {
    --mdc-filled-button-disabled-container-color: rgba(255, 255, 255, 0.12);
    --mdc-filled-button-disabled-label-text-color: rgba(255, 255, 255, 0.38);
    --mdc-filled-button-container-color: rgba(255, 255, 255, 0.12);
    --mdc-filled-button-label-text-color: rgba(255, 255, 255, 0.38);
}

[data-theme-version="dark"] .mat-mdc-icon-button[disabled][disabled] {
    --mdc-icon-button-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-icon-button-disabled-icon-color: rgba(255, 255, 255, 0.38);
}

[data-theme-version="dark"] .mat-mdc-card {
    --mdc-elevated-card-container-color: #1e284f;
    --mdc-elevated-card-container-elevation: 0px 2px 1px -1px rgba(255, 255, 255, 0.2), 0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 1px 3px 0px rgba(255, 255, 255, 0.12);
    --mdc-outlined-card-container-color: #1e284f;
    --mdc-outlined-card-outline-color: rgba(255, 255, 255, 0.12);
    --mdc-outlined-card-container-elevation: 0px 0px 0px 0px rgba(255, 255, 255, 0.2), 0px 0px 0px 0px rgba(255, 255, 255, 0.14), 0px 0px 0px 0px rgba(255, 255, 255, 0.12);
    --mat-card-subtitle-text-color: rgba(255, 255, 255, 0.54);
}

[data-theme-version="dark"] .mat-mdc-checkbox .mdc-form-field,
[data-theme-version="dark"] .mat-mdc-radio-button .mdc-form-field {
    color: #fff;
}

[data-theme-version="dark"] .mat-mdc-radio-button.mat-accent {
    --mdc-radio-disabled-selected-icon-color: #fff;
    --mdc-radio-disabled-unselected-icon-color: #fff;
    --mdc-radio-unselected-hover-icon-color: #fff;
    --mdc-radio-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mat-radio-ripple-color: #fff;
    --mat-radio-disabled-label-color: rgba(255, 255, 255, 0.38);
}

[data-theme-version="dark"] .mat-mdc-checkbox.mat-primary,
[data-theme-version="dark"] .mat-mdc-checkbox.mat-warn {
    --mdc-checkbox-disabled-selected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(255, 255, 255, 0.38);

    --mdc-checkbox-unselected-focus-icon-color: #fff;
    --mdc-checkbox-unselected-hover-icon-color: #fff;
    --mdc-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-focus-state-layer-color: #fff;
    --mdc-checkbox-unselected-hover-state-layer-color: #fff;
    --mdc-checkbox-unselected-pressed-state-layer-color: #fff;
}

[data-theme-version="dark"] .mat-mdc-checkbox.mat-mdc-checkbox-disabled label {
    color: rgba(255, 255, 255, .38);
}

[data-theme-version="dark"] .mat-mdc-standard-chip {
    --mdc-chip-disabled-label-text-color: #fff;
    --mdc-chip-elevated-container-color: rgba(255, 255, 255, .1);

    --mdc-chip-elevated-disabled-container-color: rgba(255, 255, 255, .1);
    --mdc-chip-focus-state-layer-color: white;
    --mdc-chip-label-text-color: #fff;
    --mdc-chip-with-icon-icon-color: #fff;
    --mdc-chip-with-icon-disabled-icon-color: #fff;
    --mdc-chip-with-icon-selected-icon-color: #fff;
    --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: #fff;
    --mdc-chip-with-trailing-icon-trailing-icon-color: #fff;
}

[data-theme-version="dark"] .mat-mdc-dialog-container {
    --mdc-dialog-container-color: #1e284f;
    --mdc-dialog-subhead-color: rgba(255, 255, 255, 0.87);
    --mdc-dialog-supporting-text-color: rgba(255, 255, 255, 0.6);
}

html [data-theme-version="dark"] .mat-mdc-form-field.mat-accent,
html [data-theme-version="dark"] .mat-mdc-form-field.mat-warn {
    --mat-select-panel-background-color: black;
    --mat-select-enabled-trigger-text-color: rgba(255, 255, 255, 0.87);
    --mat-select-disabled-trigger-text-color: rgba(255, 255, 255, 0.38);
    --mat-select-placeholder-text-color: rgba(255, 255, 255, 0.6);
    --mat-select-enabled-arrow-color: rgba(255, 255, 255, 0.54);
    --mat-select-disabled-arrow-color: rgba(255, 255, 255, 0.38);
}

[data-theme-version="dark"] .mat-mdc-list-option.mat-accent {
    --mdc-checkbox-disabled-selected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-unselected-focus-icon-color: #fff;
    --mdc-checkbox-unselected-hover-icon-color: #fff;
    --mdc-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-checkbox-unselected-focus-state-layer-color: white;
    --mdc-checkbox-unselected-hover-state-layer-color: white;
    --mdc-checkbox-unselected-pressed-state-layer-color: white;
}

[data-theme-version="dark"] .mat-accent .mdc-list-item__start,
[data-theme-version="dark"] .mat-accent .mdc-list-item__end {
    --mdc-radio-disabled-selected-icon-color: #fff;
    --mdc-radio-disabled-unselected-icon-color: #fff;
    --mdc-radio-unselected-hover-icon-color: #fff;
    --mdc-radio-unselected-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
}

[data-theme-version="dark"] .mat-pseudo-checkbox-full {
    color: rgb(255, 255, 255, .54);
}

[data-theme-version="dark"] .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    background-color: #181f39;
}

[data-theme-version="dark"] .custom-table-expandable tr.example-element-row:not(.example-expanded-row):hover {
    background: #181f39;
}

[data-theme-version="dark"] .mat-mdc-tab-group,
[data-theme-version="dark"] .mat-mdc-tab-nav-bar {
    --mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.38);
    --mat-tab-header-pagination-icon-color: #fff;
    --mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.6);
}

[data-theme-version="dark"] .custom-tree,
[data-theme-version="dark"] .mat-tree {
    background: #181f39;
}

[data-theme-version="dark"] .mat-mdc-icon-button {
    --mdc-icon-button-disabled-icon-color: white;
}

[data-theme-version="dark"] .mat-tree-node,
[data-theme-version="dark"] .mat-nested-tree-node {
    color: rgb(255, 255, 255, .87);
}

[data-theme-version="dark"] div:where(.swal2-container) div:where(.swal2-footer) {
    border-color: #251a2f;
}

[data-theme-version="dark"] .data-picker-costem .dropdown-menu .ngb-dp-header,
[data-theme-version="dark"] .data-picker-costem .dropdown-menu .ngb-dp-month-name,
[data-theme-version="dark"] .data-picker-costem .dropdown-menu .ngb-dp-weekdays {
    background-color: #1e284f !important;
}

[data-theme-version="dark"] .custom-day.faded {
    background-color: rgba(255, 255, 255, .1);
    color: white;
}

[data-theme-version="dark"] .ngb-dp-content .btn-light {
    color: white;
}

[data-theme-version="dark"] .sidebar-right .form-select {
    background-color: #fff;
    border-color: #eee;
    color: #000;
}

[data-theme-version="dark"] .apexcharts-canvas .apexcharts-gridline,
[data-theme-version="dark"] .apexcharts-canvas .apexcharts-grid-borders line {
    stroke: #4d4d5f;
}

[data-theme-version="dark"] .apexcharts-canvas .apexcharts-title-text,
[data-theme-version="dark"] .apexcharts-canvas .apexcharts-subtitle-text,
[data-theme-version="dark"] .apexcharts-canvas .apexcharts-data-labels .apexcharts-datalabel,
[data-theme-version="dark"] .apexcharts-canvas .apexcharts-yaxis-title-text,
[data-theme-version="dark"] .apexcharts-canvas .apexcharts-xaxis-title-text,
[data-theme-version="dark"] .apexcharts-canvas .apexcharts-datalabels-group .apexcharts-text {
    fill: #fff;
}

[data-theme-version="dark"] .apexcharts-canvas .apexcharts-legend-text {
    color: unset !important;
}

[data-theme-version="dark"] .apexcharts-canvas .apexcharts-radialbar-hollow {
    fill: #1e284f;
}


.dz-demo-panel .dz-demo-inner {
    overflow-y: scroll;
}

.dark.ng2-tag-input[_ngcontent-ng-c3083841879] {
    border: 1px solid #e6e6e6 !important;
    border-radius: 8px;
    padding: 5px;
}

.dark[_ngcontent-ng-c3083841879] tag[_ngcontent-ng-c3083841879] {
    background: var(--primary) !important;
}

[data-theme-version="dark"] .ng2-tag-input__text-input {
    background: transparent;
    color: white;
}

[data-theme-version="dark"] .dropdown-group-custom {
    background-color: black !important;

    .navbar-brand {
        color: white !important;
    }

    .dropdown-menu,
    a:focus {
        color: white !important;
    }
}

[data-theme-version="dark"] .mat-mdc-form-field-type-mat-native-select .mat-mdc-form-field-infix::after {
    color: unset;
}

[data-theme-version="dark"] .mat-mdc-slide-toggle .mdc-switch--disabled+label {
    color: rgba(255, 255, 255, 0.38);
}

[direction="rtl"] .custom-chart,
.timepicker {
    direction: ltr;
}

[direction="rtl"] {
    text-align: right;
}

[direction="rtl"] .eye {
    left: 0px !important;
    right: auto;
}

[direction="rtl"] .mat-calendar {
    direction: rtl;
}

[direction="rtl"] .mat-mdc-menu-panel {
    direction: rtl;
}

[direction="rtl"] .ck-editor {
    direction: rtl;
}

[direction="rtl"] mat-drawer-container {
    direction: rtl !important;
}

[direction="rtl"] .mat-mdc-slider.mdc-slider {
    direction: ltr;
    transform: rotateY(180deg);
}

[direction="rtl"] .mat-mdc-slider.mdc-slider .mdc-slider__value-indicator-container {
    transform: rotateY(-180deg);
    right: 0;
    left: auto;
}