<div class="basic-form">
    <form>
        <div class="mb-3">
            <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" value="email@example.com">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" placeholder="Password">
            </div>
        </div>
    </form>
</div>