<div class="content-body default-height">
    <div class="container-fluid">
        <!-- Conten Head -->

        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        
        <!-- End Conten Head -->

        <!-- row -->
        <div class="row">
            <div class="col-xl-3 col-xxl-4">
				<div class="card">
					<div class="card-body">
						<div>
							<h4 class="card-intro-title mb-3">Instructions</h4>
							<div class="basic-list-group calendar-list">
								<ul class="list-group">
									<li class="list-group-item list-group-item-action">Select dates and you will be prompted to create a new event</li>
									<li class="list-group-item list-group-item-action">Drag, drop, and resize events</li>
									<li class="list-group-item list-group-item-action" >Click an event to delete it</li>
								</ul>
							</div>
						</div>
						<div class="demo-app-sidebar-section calendar-checkbox mt-3 checkbox-primary">
							<label class="m-0 p-2">
								<input
                                class="form-check-input m-0 me-1"
								type='checkbox'
								[checked]='calendarVisible'
								(change)='handleCalendarToggle()'
								/>
								toggle whole calendar
							</label>
						</div>
						<div class="demo-app-sidebar-section calendar-checkbox checkbox-primary">
                            <label class="m-0 p-2">
                                <input
                                class="form-check-input m-0 me-1"
                                type='checkbox'
                                [checked]='calendarOptions.weekends'
                                (change)='handleWeekendsToggle()'
                                />
                                toggle weekends
                            </label>
						</div>
						<div class="demo-app-sidebar-section calendar-description">
							<h2>All Events ({{currentEvents.length}})</h2>
							<ul>
								<li *ngFor='let event of currentEvents'>
									<b class="me-2">{{event.startStr}}</b> |
									<span class="ms-2">{{event.title}}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-xxl-8">
				<div class="card">
					<div class="card-body">
						<full-calendar class="dashboard-full-calendar"
						*ngIf='calendarVisible'
						[options]='calendarOptions'
						></full-calendar>
					</div>
				</div>
			</div>
        </div>

    </div>
</div>