<div class="row">
    <div class="col-xl-4 mb-3">
        <div class="example">
            <p class="mb-1">Date Range Pick</p>
            <app-date1></app-date1>
        </div>
    </div>
    <div class="col-xl-4 mb-3">
        <div class="example">
            <p class="mb-1">Date Range With Time</p>
            <app-date2></app-date2>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="example">
            <p class="mb-1">Limit Selectable Dates</p>
            <app-date3></app-date3>                   
        </div>
    </div>
</div>