<div class="row">
    <div class="col-md-6 col-xl-3 col-xxl-6 mb-3">
        <label class="form-label">Default Clock Picker</label>
        <div class="input-group clockpicker">
            <input type="text" class="form-control" aria-label="24hr format"
                placeholder="24hr format" value="09:30" [ngxTimepicker]="fullTime" [format]="24"
                readonly>
            <ngx-material-timepicker #fullTime></ngx-material-timepicker>
            <span class="input-group-text"><i class="far fa-clock"></i></span>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 col-xxl-6 mb-3">
        <label class="form-label">Auto btn-close Clock Picker</label>
        <div class="input-group clockpicker" data-placement="bottom" data-align="top"
            data-autobtn-close="true">
            <input type="text" class="form-control" value="13:14" aria-label="12hr format"
                [ngxTimepicker]="default" readonly>
            <ngx-material-timepicker #default></ngx-material-timepicker>
            <span class="input-group-text"><i class="far fa-clock"></i></span>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 col-xxl-6 mb-3">
        <label class="form-label">Now time</label>
        <div class="input-group">
            <input class="form-control" id="single-input" placeholder="Now"
                [ngxTimepicker]="toggleTimepicker" [disableClick]="true" readonly>
            <ngx-material-timepicker #toggleTimepicker>
                
            </ngx-material-timepicker>
            <ngx-material-timepicker-toggle id="time" [for]="toggleTimepicker"
                class="btn waves-effect waves-light btn-ft btn-success"></ngx-material-timepicker-toggle>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 col-xxl-6">
        <label class="form-label">Left Placement</label>
        <div class="input-group clockpicker" data-placement="left" data-align="top"
            data-autobtn-close="true">
            <input type="text" class="form-control" value="13:4" aria-label="24hr format"
                [ngxTimepicker]="fullTime1" [format]="24" readonly>
            <ngx-material-timepicker #fullTime1></ngx-material-timepicker>
            <span class="input-group-text"><i class="far fa-clock"></i></span>
        </div>
    </div>
</div>