<div class="basic-form input-card">
    <form action="#">
        <div class="input-group mb-3 input-warning-o">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="input-group mb-3 input-success-o">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="input-group mb-3 input-primary">
            <input type="text" class="form-control" placeholder="Recipient's username">
            <span class="input-group-text">@example.com</span>
        </div>

        <label>Your vanity URL</label>
        <div class="input-group mb-3  input-success">
            <span class="input-group-text">https://example.com</span>
            <input type="text" class="form-control">
        </div>

        <div class="input-group mb-3  input-info">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control rounded-0">
            <span class="input-group-text">.00</span>
        </div>

        <div class="input-group   input-danger">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control"></textarea>
        </div>
    </form>
</div>