<div class=" content-body default-height">
    <div class="container-fluid">
        <!-- Conten Head -->

        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
         
        <!-- End Conten Head -->
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="filter cm-content-box box-primary">

                    <app-filter-head></app-filter-head>     

                </div>
                <div class="mb-4 pb-3">
                    <ul class="d-flex align-items-center">
                        <li><a routerLink="/admin/cms-email-add" class="btn btn-sm btn-primary">New Email Template</a></li>
                    </ul>
                </div>
                <div class="filter cm-content-box box-primary">
                    <div class="content-title SlideToolHeader" (click)="dropicon(2)"
                            data-bs-toggle="collapse" data-bs-target="#demo-1">
                        <div class="cpa">
                            <i class="fa-solid fa-envelope me-1"></i> Email Template List	
                        </div>
                        <div class="tools">
                            <a href="javascript:void(0);" class="SlideToolHeader" 
                            [ngClass]="{'expand':activeToggleArray.indexOf(2) > -1 }"><i class="fal fa-angle-down"></i></a>
                        </div>
                    </div>
                    <div class="cm-content-body  form excerpt collapse show" id="demo-1">
                        <div class="card-body pb-4">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-black">Sr.No</th>
                                            <th class="text-black">Title</th>
                                            <th class="text-black">Status</th>
                                            <th class="text-black">Modified</th>
                                            <th class="text-end text-black">Actions</th>        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of allData.data; let i = index">
                                            <td>{{ i+1 }}</td>
                                            <td>{{ row.title }}</td>                                     
                                            <td><span [ngClass]="{'badge-success':row.status == 'Active', 'badge-danger':row.status == 'Inactive'}" class="badge light">{{row.status }}</span></td>
                                            <td>{{ row.date }}</td>
                                            <td class="text-end">
                                                <a href="javascript:void(0);" class="btn btn-warning btn-sm content-icon me-2">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-sm content-icon me-0">
                                                    <i class="fa-solid fa-trash"></i>
                                                </a>
                                            </td>                                           
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <small>Page 1 of 4, showing 2 records out of 8 total, starting on record 1, ending on 2</small>
                                    <div class="float-end">
                                        <app-custom-pagination [totalPage]="totalPage" [page]="page" (newPage)="pageChange($event)"></app-custom-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>