<div class=" content-body default-height">
    <div class="container-fluid">

        <!-- Conten Head -->

        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
    
        <!-- End Conten Head -->
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Style</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <app-input-style></app-input-style>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Checkbox</h4>
                    </div>
                    <div class="card-body">
                        <app-checkbox></app-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Textarea</h4>
                    </div>
                    <div class="card-body">
                        <app-textarea></app-textarea>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Size</h4>
                    </div>
                    <div class="card-body">
                        <app-input-size></app-input-size>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Select Size</h4>
                    </div>
                    <div class="card-body">
                        <app-select-size></app-select-size>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Select List</h4>
                    </div>
                    <div class="card-body">
                        <app-select-list></app-select-list>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Horizontal Form</h4>
                    </div>
                    <div class="card-body">
                        <app-horizontal-form></app-horizontal-form>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Vertical Form</h4>
                    </div>
                    <div class="card-body">
                        <app-vertical-form></app-vertical-form>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Checkboxes</h4>
                    </div>
                    <div class="card-body">
                        
                        <app-checkboxes></app-checkboxes>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Inline Checkboxes</h4>
                    </div>
                    <div class="card-body">
                       <app-inline-checkboxes></app-inline-checkboxes>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Radio Buttons</h4>
                    </div>
                    <div class="card-body">
                        <app-radio-buttons></app-radio-buttons>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Inline Radio </h4>
                    </div>
                    <div class="card-body">
                        <app-inline-radio></app-inline-radio>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Readonly</h4>
                    </div>
                    <div class="card-body">
                       <app-readonly></app-readonly>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Inline Form</h4>
                    </div>
                    <div class="card-body">
                        <app-inline-form></app-inline-form>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Form grid</h4>
                    </div>
                    <div class="card-body">
                        <app-form-grid></app-form-grid>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Form Row</h4>
                    </div>
                    <div class="card-body">
                        <app-form-row></app-form-row>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Form Label Size</h4>
                    </div>
                    <div class="card-body">
                        <app-form-label-size></app-form-label-size>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Column size</h4>
                    </div>
                    <div class="card-body">
                       <app-column-size></app-column-size>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Auto-sizing</h4>
                    </div>
                    <div class="card-body">
                        <app-auto-sizing></app-auto-sizing>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Custom Select</h4>
                    </div>
                    <div class="card-body">
                        <app-custom-select></app-custom-select>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Disabled forms</h4>
                    </div>
                    <div class="card-body">
                        <app-disabled-forms></app-disabled-forms>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Group</h4>
                    </div>
                    <div class="card-body">
                        <app-input-group></app-input-group>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Group Size</h4>
                    </div>
                    <div class="card-body">
                        <app-input-group-size></app-input-group-size>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Checkboxes and radios</h4>
                    </div>
                   <div class="card-body">
                       <app-checkboxes-and-radios></app-checkboxes-and-radios>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Multiple inputs</h4>
                    </div>
                    <div class="card-body">
                        <app-multiple-inputs></app-multiple-inputs>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Multiple addons</h4>
                    </div>
                    <div class="card-body">
                        <app-multiple-addons></app-multiple-addons>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Button addons</h4>
                    </div>
                    <div class="card-body">
                        <app-button-addons></app-button-addons>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Buttons with dropdowns</h4>
                    </div>
                    <div class="card-body">
                        <app-buttons-with-dropdowns></app-buttons-with-dropdowns>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Segmented buttons</h4>
                    </div>
                    <div class="card-body">
                       <app-segmented-buttons></app-segmented-buttons>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Custom select</h4>
                    </div>
                    <div class="card-body">
                       <app-custom-select1></app-custom-select1>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Custom file input</h4>
                    </div>
                   <div class="card-body">
                        <app-custom-file-input></app-custom-file-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>