<div class="content-body default-height">
    <div class="container-fluid default-mt-checkbox default-mt-card">

        <!-- Conten Head -->
        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        <!-- Conten Head End-->
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Configurable checkbox</h4>
                    </div>
                    <div class="card-body">

                        <app-configurable-checkbox></app-configurable-checkbox>


                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic checkboxes</h4>
                    </div>
                    <div class="card-body">
                        <app-basic-checkbox></app-basic-checkbox>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>