<div class="content-title" (click)="dropicon(1)" data-bs-toggle="collapse" data-bs-target="#filter">
    <h4 class="cpa card-title">
        <i class="fa-sharp fa-solid fa-filter me-2"></i>Filter
    </h4>
    <div class="tools">
        <a href="javascript:void(0);" class="SlideToolHeader" [ngClass]="{'expand':activeToggleArray.indexOf(1) > -1 }">
            <i class="fal fa-angle-down"></i></a>
    </div>
</div>
<div class="cm-content-body form excerpt collapse show" id="filter">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <label class="form-label">Title</label>
                <input type="text" class="form-control mb-xl-0 mb-3" id="exampleFormControlInput1" placeholder="Title">
            </div>
            <div class="col-xl-3  col-sm-6 mb-3 mb-xl-0">
                <label class="form-label">Status</label>
                <app-select2 [items]="select2Data"></app-select2>
            </div>
            <div class="col-xl-3 col-sm-6">
                <label class="form-label">Date</label> 
                <div class="input-hasicon mb-sm-0 mb-3 data-picker-costem costem-set">
                    <input 
                            (click)="d.toggle()"
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="dp"
                            [(ngModel)]="model"
                            ngbDatepicker
                            #d="ngbDatepicker"
                            [navigation]="navigation"
                            [outsideDays]="outsideDays"
                        />
                        <div class="icon"(click)="d.toggle()" ><i class="far fa-calendar"></i></div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 align-self-end">
                <div>
                    <button class="btn btn-primary me-2" title="Click here to Search" type="button">
                        <i class="fa fa-filter me-1"></i>Filter</button>
                    <button class="btn btn-danger light ms-1" title="Click here to remove filter" type="button">Remove Filter</button>
                </div>
            </div>
        </div>
    </div>
</div>