<div class="content-body default-height">
    <div class="container-fluid">
        <!-- Conten Head -->

        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
         
        <!-- End Conten Head -->
        <!-- row -->
        <div class="row">
            <div class="col-xl-4 col-lg-12">
                <div class="card">
                    <div class="card-header border-0 pb-0">
                        <h4 class="card-title">Timeline</h4>
                    </div>
                    <div class="card-body p-0">
                        <div id="DZ_W_TimeLine" class="widget-timeline dz-scroll my-4 px-4" style="height:370px;">
                            <app-timeline-1></app-timeline-1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card">
                    <div class="card-header border-0 pb-0">
                        <h4 class="card-title">Timeline 2</h4>
                    </div>
                    <div class="card-body p-0">
                        <div id="DZ_W_TimeLine1" class="widget-timeline dz-scroll style-1 my-4 px-4" style="height:370px;">
                            <app-timeline-2></app-timeline-2>         
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card p-0">
                    <div class="card-header  border-0 pb-0">
                        <h4 class="card-title">Notifications</h4>
                    </div>
                    <div class="card-body p-0"> 
                        <div id="DZ_W_Todo1" class="widget-media dz-scroll my-4 px-4" style="height:370px;">
                            <app-notifications></app-notifications>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card border-0 pb-0">
                    <div class="card-header border-0 pb-0">
                        <h4 class="card-title">Notifications 2</h4>
                    </div>
                    <div class="card-body p-0"> 
                        <div id="DZ_W_Todo2" class="widget-media px-4 my-4 dz-scroll" style="height:370px;">
                           <app-notifications-2></app-notifications-2> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card border-0 pb-0">
                    <div class="card-header border-0 pb-0">
                        <h4 class="card-title">Message</h4>
                    </div>
                    <div class="card-body p-0"> 
                        <div id="DZ_W_Todo3" class="widget-media px-4 my-4 dz-scroll" style="height:370px;">
                            <app-message-1></app-message-1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card border-0 pb-0">
                    <div class="card-header border-0 pb-0">
                        <h4 class="card-title">To Do List</h4>
                    </div>
                    <div class="card-body p-0"> 
                        <div id="DZ_W_Todo4" class="widget-media dz-scroll px-4 my-4" style="height:370px;">
                            <app-todo-list></app-todo-list>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-xxl-4 col-sm-12">
                <div class="card text-white bg-primary">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Blood type :</span><strong>O+</strong></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Allergies :</span><strong>Penicilin, peanuts </strong></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Pressure :</span><strong>120/100 mmHG</strong></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Diseases :</span><strong>Diabetes</strong></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Temperture :</span><strong>34 Degree</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-xxl-4 col-sm-6">
                <div class="card text-white bg-warning text-black">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Regular Checkups</span></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Dr Theodore Handle :</span><strong>Dentist</strong></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Dr Valentino Morose :</span><strong>Surgeon</strong></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Dr Fleece Marigold :</span><strong>Clinical</strong></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Dr Eric Widget :</span><strong>Cardiology</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-xxl-4 col-sm-6">
                <div class="card text-white bg-success text-black">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Stations</span><strong>Capacity</strong></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Registartion :</span><strong>1</strong></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Lab :</span><strong>4</strong></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Xray :</span><strong>1</strong></li>
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Mri :</span><strong>2</strong></li>
                    </ul>
                </div>
            </div>
           
           <div class="col-xl-12 col-lg-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Recent Payments Queue</h4>
                    </div>
                    <div class="card-body">
                        <app-recent-pay></app-recent-pay>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>