<div class="card">
    <div class="card-body pb-0">
        <h4 class="card-title text-uppercase fw-normal">Sales Analysis</h4>
        <h2 class="fw-normal text-danger">
            <span><i class="fa fa-caret-up"></i></span>
            <span>3454664</span>
        </h2>
        <div class="row mt-5">
            <div class="col text-center">
                <h5 class="fw-normal">Today</h5>
                <span class="text-success">+ 8224</span>
            </div>
            <div class="col text-center">
                <h5 class="fw-normal">Today</h5>
                <span class="text-danger">- 1224</span>
            </div>
            <div class="col text-center">
                <h5 class="fw-normal">Week</h5>
                <span class="text-success">+ 4224</span>
            </div>
        </div>
    </div>
    <div class="chart-wrapper">
        <app-bar-chart-apex  [chart_item]="chartOptions"></app-bar-chart-apex >
    </div>
</div>