<button mat-raised-button color="primary" [dir]="direction" class="rounded-2 me-1" [matMenuTriggerFor]="aboveMenu" class="rounded-2 me-1">Above</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-raised-button color="primary" [dir]="direction" class="rounded-2 me-1" [matMenuTriggerFor]="belowMenu" class="rounded-2 me-1">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-raised-button color="primary" [dir]="direction" class="rounded-2 me-1" [matMenuTriggerFor]="beforeMenu" class="rounded-2 me-1">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-raised-button color="primary" [dir]="direction" class="rounded-2 me-1" [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
