<div class="authincation fix-wrapper" style="background-image: url(assets/images/student-bg.jpg); background-repeat:no-repeat; background-size:cover;">
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-lg-6 col-sm-12">
                <div class="form-input-content  error-page">
                    <h1 class="error-text text-primary">503</h1>
                    <h4> Service Unavailable</h4>
                    <p>Sorry, we are under maintenance!</p>
                    <a class="btn btn-primary" routerLink="/admin/index">Back to Home</a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img  class="w-100" src="assets/images/under-m.png" alt="">
            </div>
        </div>
    </div>
</div>