<div class="content-body default-height">
    <div class="container-fluid default-mt-btn">
        <!-- Conten Head -->
        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        <!-- Conten Head End -->
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Button toggle appearance</h4>
                    </div>
                    <div class="card-body">
                        <app-button-toggle-appearance></app-button-toggle-appearance>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Exclusive selection</h4>
                    </div>
                    <div class="card-body">
                        <app-button-exclusive-selection></app-button-exclusive-selection>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Button-toggles with forms</h4>
                    </div>
                    <div class="card-body">
                        <app-button-with-forms></app-button-with-forms>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic button-toggles</h4>
                    </div>
                    <div class="card-body">
                        <app-button-basic-toggles></app-button-basic-toggles>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>