<div class="card-bx mb-0">
    <img src="assets/images/card/card1.png" alt="" class="w-100">
    <div class="card-info text-white">
        <p class="mb-1 text-white">Main Balance</p>
        <h2 class="fs-36 text-white mb-sm-4 mb-3">$673,412.66</h2>
        <div class="d-flex align-items-center justify-content-between mb-sm-5 mb-3">
            <img src="assets/images/dual-dot.png" alt="" class="dot-img">
            <h4 class="fs-20 text-white mb-0">**** **** **** 1234</h4>
        </div>
        <div class="d-flex">
            <div class="me-5">
                <p class="fs-14 text-white mb-1 op6">VALID THRU</p>
                <span>08/21</span>
            </div>
            <div>
                <p class="fs-14 mb-1 text-white op6">CARD HOLDER</p>
                <span>Franklin Jr.</span>
            </div>
        </div>
    </div>
</div>