<div class="card overflow-hidden">
    <div class="row no-gutters">
        <div class="col-5 p-0">
            <div class="card-body">
                <h6 class="fw-normal text-uppercase">Weekly sales</h6>
                <h4>$ 14000</h4>
                <div>
                    <span class="badge badge-light">60%</span>
                    <span>Higher</span>
                </div>
            </div>
        </div>
        <div class="col-7 p-0">
            <div class="chart-wrapper">
                <canvas id="chart_widget_11" style="display: block; box-sizing: border-box; height: 270px; width: 423px;" width="423" height="270"></canvas>
            </div>
        </div>
    </div>
</div>