
<apx-chart
    [series]="options.series"
    [chart]="options.chart"
    [grid]="options.grid"
    [yaxis]="options.yaxis"
    [xaxis]="options.xaxis"
    [theme]="options.theme"
    [title]="options.title"
    [labels]="options.labels"
    [legend]="options.legend"
    [colors]="options.colors"
    [stroke]="options.stroke"
    [states]="options.states"
    [markers]="options.markers"
    [tooltip]="options.tooltip"
    [dataLabels]="options.dataLabels"
    [responsive]="options.responsive"
    [plotOptions]="options.plotOptions"
    >
</apx-chart>