<div class="card-body pb-0">
    <h4 class="card-title text-uppercase fw-normal">Market Now</h4>
    <h2 class="fw-normal text-danger">
        <span><i class="fa fa-caret-up"></i></span>
        <span>3454664</span>
    </h2>
    <div class="row mt-5">
        <div class="col text-center">
            <h5 class="fw-normal">APPL</h5>
            <span class="text-success">+ 82.24 %</span>
        </div>
        <div class="col text-center">
            <h5 class="fw-normal">FB</h5>
            <span class="text-danger">- 12.24 %</span>
        </div>
        <div class="col text-center">
            <h5 class="fw-normal">GOOG</h5>
            <span class="text-success">+ 42.24 %</span>
        </div>
    </div>
</div>
<div class="chart-wrapper">
    <canvas id="chart_widget_4" style="display: block; box-sizing: border-box; height: 255px; width: 514px;" width="514" height="255"></canvas>
</div>