<div class="basic-form">
    <form action="#">
        <div class="input-group mb-3">
            <button class="btn btn-primary" type="button">Button</button>
            <input type="text" class="form-control">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control">
            <button class="btn btn-primary" type="button">Button</button>
        </div>

        <div class="input-group mb-3">
            <button class="btn btn-primary" type="button">Button</button>
            <button class="btn btn-primary rounded-0" type="button">Button</button>
            <input type="text" class="form-control">
        </div>

        <div class="input-group">
            <input type="text" class="form-control">
            <button class="btn btn-primary rounded-0" type="button">Button</button>
            <button class="btn btn-primary" type="button">Button</button>
        </div>
    </form>
</div>