<div class="card">
    <div class="chart-wrapper">
        <canvas id="chart_widget_16" height="345" style="display: block; box-sizing: border-box; height: 345px; width: 332px;" width="332"></canvas>
    </div>
    <div class="card-body">
        <h4 class="card-title">Sales Status</h4>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <h6>67%</h6>
                    <span>Grow</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-primary" style="width: 80%"></div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="d-flex justify-content-between">
                    <h6>67%</h6>
                    <span>Grow</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" style="width: 70%"></div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="d-flex justify-content-between">
                    <h6>67%</h6>
                    <span>Grow</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-info" style="width: 40%"></div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="d-flex justify-content-between">
                    <h6>67%</h6>
                    <span>Grow</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-warning" style="width: 80%"></div>
                </div>
            </div>
        </div>
    </div>
</div>