<div class="custom-dropdown dropdown bootstrap-select default-select style-1 mt-3 mt-sm-0">
    <button type="button" tabindex="-1" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-1"
        aria-haspopup="listbox" aria-expanded="false" title="Cancel" class="btn dropdown-toggle btn-light">
        <div class="filter-option">
            <div class="filter-option-inner">
                <div class="filter-option-inner-inner">{{ selectValue }}</div>
            </div>
        </div>
    </button>

    <div class="dropdown-menu dropdown-menu-end" style="min-width: 100px;">
        <ul class="" role="presentation">
            <li class="" *ngFor="let item of getValue">
                <a href="javascript:void(0);" (click)="getValueDrop({ item })"
                    [ngClass]="{'active':selectValue == item}" class="dropdown-item py-2">
                    <span class="text">{{ item }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>