<div class="content-body default-height">
    <div class="container-fluid default-mt-spinner default-mt-card">
        <!-- Conten Head -->
        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        <!-- Conten Head End-->
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Configurable progress spinner</h4>
                    </div>
                    <div class="card-body">
                        <app-configurable-progress-spinner></app-configurable-progress-spinner>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic progress-spinner</h4>
                    </div>
                    <div class="card-body">
                        <app-basic-progress-spinner></app-basic-progress-spinner>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>