<table matSort class="table display mb-4 dataTablesCard dataTable" id="example5" (matSortChange)="sortData($event)">
    <thead>
        <tr>
            <th>
                <div class="checkbox text-center align-self-center">
                    <input class="form-check-input" type="checkbox" (click)="checkUncheckAll()" id="checkAll">
                    <label class="form-check-label" for="checkAll">
                    </label>
                </div>
            </th>
            <th>ID Invoice</th>
            <th>Date</th>
            <th mat-sort-header="recipient" class="min_width_th">Recipient</th>
            <th mat-sort-header="email" class="min_width_th">Email</th>
            <th mat-sort-header="serviceType" class="min_width_th">Service Type</th>
            <th mat-sort-header="status" class="min_width_th">Status</th>
            <th class="min_width_th">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of allData.data">
            <td>
                <div class="checkbox text-center me-0 align-self-center">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2"
                        [checked]="boxActive">
                    <label class="form-check-label" for="flexCheckDefault2">
                    </label>
                </div>
            </td>
            <td><span class="text-black font-w500">{{row.invoiceId}}</span></td>
            <td><span class="text-black text-nowrap">{{row.date}}</span></td>
            <td class="wspace-no">
                <div class="d-flex align-items-center">
                    <img src="{{ row.img }}" alt="" class="rounded-circle me-3" width="50">
                    <div>
                        <h6 class="fs-16 text-black font-w600 mb-0 text-nowrap">{{row.recipient}}</h6>
                        <span *ngIf="row.onlineStatus" class="fs-14">Online Shop</span>
                    </div>
                </div>
            </td>
            <td><span class="text-black">{{row.email}}</span></td>
            <td><span class="text-black">{{row.serviceType}}</span></td>
            <td>
                <a [ngClass]="{
                'badge-success':row.status == 'Completed',
                'badge-danger':row.status == 'Canceled',
                'badge-warning':row.status == 'Pending'
                }" href="javascript:void(0)" class="badge badge-sm light">{{row.status}}</a>
            </td>
            <td>
                <div class="dropdown mb-auto">
                    <div class="btn-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10 11.9999C10 13.1045 10.8954 13.9999 12 13.9999C13.1046 13.9999 14 13.1045 14 11.9999C14 10.8954 13.1046 9.99994 12 9.99994C10.8954 9.99994 10 10.8954 10 11.9999Z"
                                fill="black"></path>
                            <path
                                d="M10 4.00006C10 5.10463 10.8954 6.00006 12 6.00006C13.1046 6.00006 14 5.10463 14 4.00006C14 2.89549 13.1046 2.00006 12 2.00006C10.8954 2.00006 10 2.89549 10 4.00006Z"
                                fill="black"></path>
                            <path
                                d="M10 20C10 21.1046 10.8954 22 12 22C13.1046 22 14 21.1046 14 20C14 18.8954 13.1046 18 12 18C10.8954 18 10 18.8954 10 20Z"
                                fill="black"></path>
                        </svg>
                    </div>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                        <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="dataTables_info float-start pt-2" id="example5_info" role="status" aria-live="polite">Showing 1 to 8 of 10
    entries</div>
<div class="float-end">
    <app-custom-pagination [totalPage]="totalPage" [page]="page" (newPage)="pageChange($event)"></app-custom-pagination>
</div>