<div class=" content-body default-height">
    <div class="container-fluid">

        <!-- Conten Head -->

        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>

        <!-- End Conten Head -->
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Form Validation</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="needs-validation" novalidate [formGroup]="createForm" (ngSubmit)="submit()"
                                enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required" for="validationCustom01">Username
                                                
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control bg-transparent"
                                                    placeholder="Enter a username.." name="username"
                                                    formControlName="username"
                                                    [ngClass]="{'requiredErrer' : (submitted && f['username'].errors && f['username'].errors['required'])==true}">
                                                <span
                                                    *ngIf="submitted && f['username'].errors && f['username'].errors['required']"
                                                    class="text-danger fs-6"> Please enter a username.</span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required" for="validationCustom02">Email 
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="validationCustom02"
                                                    placeholder="Your valid email.." formControlName="email"
                                                    [ngClass]="{'requiredErrer' : (submitted && f['email'].errors && f['email'].errors['required'])==true}">
                                                <span
                                                    *ngIf="submitted && f['email'].errors && f['email'].errors['required']"
                                                    class="text-danger fs-6"> Please enter a Email..</span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required" for="validationCustom03">Password
                                           
                                            </label>
                                            <div class="col-lg-6 ">
                                                <div class="position-relative">
                                                    <input type="password" class="form-control" id="validationCustom03"
                                                        placeholder="Choose a safe one.." formControlName="password" [type]="hide ? 'text' : 'password'"
                                                        [ngClass]="{'requiredErrer' : (submitted && f['password'].errors && f['password'].errors['required'])==true}">
                                                        <span class="show-pass eye" [ngClass]="{'active': hide}" (click)="show_pass()">
                                                            <i class="fa fa-eye-slash"></i>
                                                            <i class="fa fa-eye"></i>
                                                    </span>
                                                </div>
                                                <span
                                                    *ngIf="submitted && f['password'].errors && f['password'].errors['required']"
                                                    class="text-danger fs-6"> Please enter a password.</span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required" for="validationCustom04">Suggestions
                                               
                                            </label>
                                            <div class="col-lg-6">
                                                <textarea class="form-control" rows="5"
                                                    placeholder="What would you like to see?"
                                                    formControlName="suggestions"
                                                    [ngClass]="{'requiredErrer' : (submitted && f['suggestions'].errors && f['suggestions'].errors['required'])==true}"></textarea>
                                                <span
                                                    *ngIf="submitted && f['suggestions'].errors && f['suggestions'].errors['required']"
                                                    class="text-danger fs-6"> Please enter a Suggestions.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required" for="validationCustom05">Best Skill
                                               
                                            </label>
                                            <div class="col-lg-6">

                                                <select2 ngDefaultControl [data]="data" formControlName="bestSkill" [templates]="template" class="select2" value="{{ createForm.value.bestSkill }}">
                                                    <ng-template #template let-data="data" >{{data?.name | titlecase}}</ng-template>
                                                </select2>
                                                <span
                                                    *ngIf="submitted && f['bestSkill'].errors && f['bestSkill'].errors['required']"
                                                    class="text-danger fs-6"> Please select a one. </span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required" for="validationCustom06">Currency
                                              
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="validationCustom06"
                                                    placeholder="$21.60" formControlName="currency"
                                                    [ngClass]="{'requiredErrer' : (submitted && f['currency'].errors && f['currency'].errors['required'])==true}"
                                                    >
                                                <span
                                                    *ngIf="submitted && f['currency'].errors && f['currency'].errors['required']"
                                                    class="text-danger fs-6"> Please enter a Currency. </span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required" for="validationCustom07">Website
                                                
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="validationCustom07"
                                                    placeholder="http://example.com" formControlName="website"
                                                    [ngClass]="{'requiredErrer' : (submitted && f['website'].errors && f['website'].errors['required'])==true}">
                                                <span
                                                    *ngIf="submitted && f['website'].errors && f['website'].errors['required']"
                                                    class="text-danger fs-6"> Please enter a url.</span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required" for="validationCustom08">Phone (US)
                                                
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="number" class="form-control" id="validationCustom08"
                                                    placeholder="212-999-0000" formControlName="phone"
                                                    [ngClass]="{'requiredErrer' : (submitted && f['phone'].errors && f['phone'].errors['required'])==true}">
                                                <span
                                                    *ngIf="submitted && f['phone'].errors && f['phone'].errors['required']"
                                                    class="text-danger fs-6"> Please enter a phone no.</span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required" for="validationCustom09">Digits 
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="number" class="form-control" id="validationCustom09"
                                                    placeholder="5" formControlName="digits"
                                                    [ngClass]="{'requiredErrer' : (submitted && f['digits'].errors && f['digits'].errors['required'])==true}">
                                                <span
                                                    *ngIf="submitted && f['digits'].errors && f['digits'].errors['required']"
                                                    class="text-danger fs-6"> Please enter a digits.</span>
                                                <div class="invalid-feedback">
                                                    Please enter a digits.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required" for="validationCustom10">Number 
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="number" class="form-control" id="validationCustom10"
                                                    placeholder="5.0" formControlName="number"
                                                    [ngClass]="{'requiredErrer' : (submitted && f['number'].errors && f['number'].errors['required'])==true}">
                                                <span
                                                    *ngIf="submitted && f['number'].errors && f['number'].errors['required']"
                                                    class="text-danger fs-6"> Please enter a Number.</span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required" for="validationCustom11">Range [1, 5]
                                                
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="number" class="form-control" id="validationCustom11"
                                                    placeholder="4" formControlName="range"
                                                    [ngClass]="{'requiredErrer' : (submitted && f['range'].errors && f['range'].errors['required'])==true}">
                                                <span
                                                    *ngIf="submitted && f['range'].errors && f['range'].errors['required']"
                                                    class="text-danger fs-6"> Please enter a range.</span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label required"><a href="javascript:void(0)">Terms
                                                    &amp; Conditions</a>
                                            </label>
                                            <div class="col-lg-8">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="validationCustom12" formControlName="conditions"
                                                        [ngClass]="{'requiredErrer' : (submitted && f['conditions'].errors && f['conditions'].errors['required'])==true}">
                                                    <label class="form-check-label" for="validationCustom12">
                                                        Agree to terms and conditions
                                                    </label>
                                                    <span
                                                        *ngIf="submitted && f['conditions'].errors && f['conditions'].errors['required']"
                                                        class="text-danger fs-6"> Please enter a Conditions..</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <div class="col-lg-8 ms-auto">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Vertical Forms with icon</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form class="form-valide-with-icon needs-validation" [formGroup]="verticalForm"
                                (ngSubmit)="verticalSubmit()">
                                <div class="mb-3">
                                    <label class="text-label form-label required" for="validationCustomUsername">Username</label>
                                    <div class="input-group validate-username">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        <input type="text" class="form-control" id="validationCustomUsername"
                                            placeholder="Enter a username.." formControlName="username"
                                            [ngClass]="{'requiredErrer' : (submitted_V && vf['username'].errors && vf['username'].errors['required'])==true}">
                                    </div>
                                    <span
                                        *ngIf="submitted_V && vf['username'].errors && vf['username'].errors['required']"
                                        class="text-danger fs-6"> Please enter a Username.</span>
                                </div>
                                <div class="mb-3">
                                    <label class="text-label form-label required" for="dz-password">Password *</label>
                                    <div class="input-group transparent-append  validate-password">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        <input type="password" class="form-control" id="dz-password"
                                            placeholder="Choose a safe one.." formControlName="password"
                                            [type]="hidePsw ? 'password' : 'text'"
                                            [ngClass]="{'requiredErrer' : (submitted_V && vf['password'].errors && vf['password'].errors['required'])==true}">
                                        <span class="input-group-text show-pass" [ngClass]="{'active':!hidePsw}"
                                            (click)="pswShowHide()">
                                            <i class="fa fa-eye-slash"></i>
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                    <span
                                        *ngIf="submitted_V && vf['password'].errors && vf['password'].errors['required']"
                                        class="text-danger fs-6"> Please enter a Password.</span>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                            formControlName="check_me"
                                            [ngClass]="{'requiredErrer' : (submitted_V && vf['check_me'].errors && vf['check_me'].errors['required'])==true}">
                                        <label class="form-check-label" for="invalidCheck2"
                                            [style.color]="(submitted_V && vf['check_me'].errors && vf['check_me'].errors['required'])==true ? 'red' :''">
                                            Check Me out
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                                <button type="submit" class="btn btn-danger light ms-1">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>