<div class="basic-form">
    <form>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <div class="position-relative">
                <input type="password" id="dz-password" class="form-control" value="123456" [type]="hide ? 'text' : 'password'">
                <span class="show-pass eye" [ngClass]="{'active': hide}" (click)="show_pass()">
                    <i class="fa fa-eye-slash"></i>
                    <i class="fa fa-eye"></i>
                </span>
            </div>
        </div>
        <fieldset class="mb-3">
            <div class="row">
                <label class="col-form-label col-sm-3 pt-0">Radios</label>
                <div class="col-sm-9">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" value="option1" checked>
                        <label class="form-check-label">
                            First radio
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" value="option2">
                        <label class="form-check-label">
                            Second radio
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="gridRadios" value="option3" disabled>
                        <label class="form-check-label">
                            Third disabled radio
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="mb-3 row">
            <div class="col-sm-3">Checkbox</div>
            <div class="col-sm-9">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                        Example checkbox
                    </label>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>
</div>