<div class="card-header border-0 pb-0">
    <div>
        <h4 class="fs-20 text-black">Card Statistic</h4>
        <span class="fs-12">Lorem ipsum dolor sit amet, consectetur</span>
    </div>
</div>
<div class="card-body pb-2">
    <div class="row">
        <div class="col-xl-12 col-sm-6">
            <app-pie-chart-apex [chart_item]="pie_chart_data"></app-pie-chart-apex>
        </div>
        <div class=" col-xl-12 col-sm-6">
            <div class="d-flex flex-wrap text-black fs-12 mt-4">
                <span class="me-4 mb-3">
                    <svg class="me-2" width="19" height="19" viewBox="0 0 19 19"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="19" height="19" rx="9.5" fill="#1EAAE7" />
                    </svg>
                    Main Card
                </span>
                <span class="me-4 mb-3">
                    <svg class="me-2" width="19" height="19" viewBox="0 0 19 19"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="19" height="19" rx="9.5" fill="#FF7A30" />
                    </svg>
                    Orange Card
                </span>
                <span class="me-4 mb-3">
                    <svg class="me-2" width="19" height="19" viewBox="0 0 19 19"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="19" height="19" rx="9.5" fill="#6418C3" />
                    </svg>
                    Purple Card
                </span>
                <span class="me-4 mb-3">
                    <svg class="me-2" width="19" height="19" viewBox="0 0 19 19"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="19" height="19" rx="9.5" fill="#FFEF5F" />
                    </svg>
                    Yellow Card
                </span>
                <span class="me-4 mb-3">
                    <svg class="me-2" width="19" height="19" viewBox="0 0 19 19"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="19" height="19" rx="9.5" fill="#2BC155" />
                    </svg>
                    Green Card
                </span>
            </div>
        </div>
    </div>
</div>