<div class="content-body default-height">
    <div class="container-fluid default-divider">
        <!-- Conten Head -->
        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        <!-- Conten Head End-->
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic divider</h4>
                    </div>
                    <div class="card-body">
                        <mat-list>
                            <mat-list-item>Item 1</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Item 2</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Item 3</mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>