<div class="card-header border-0 pb-0 d-sm-flex d-block">
    <h4 class="card-title">Visitor Activity</h4>
    <div class="card-tabs mb-sm-0 my-2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" (click)="updateValue('day')" id="home-tab" href="javascript:void(0);"
                        data-bs-toggle="tab" data-bs-target="#home-tab-pane" role="tab" aria-selected="true">Day</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" (click)="updateValue('month')" id="profile-tab" href="javascript:void(0);"
                        data-bs-toggle="tab" data-bs-target="#profile-tab-pane" role="tab"
                        aria-selected="false">Month</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" (click)="updateValue('year')" id="contact-tab" href="javascript:void(0);"
                        data-bs-toggle="tab" data-bs-target="#contact-tab-pane" role="tab" aria-selected="false">
                        Year</a>
                </li>
            </ul>
        </ul>
    </div>
</div>

<div class="card-body">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="user" role="tabpanel">
            <canvas #chart style="display: inline; width:100%; max-height: 350px;" height="300"></canvas>
        </div>
    </div>
</div>