<!--**********************************
    Content body start
***********************************-->
<div class="content-body default-height">
    <div class="container-fluid default-mt-toolbar">
        <!-- Conten Head -->
        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        <!-- Conten Head End-->
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Tree with checkboxes</h4>
                    </div>
                    <div class="card-body">
                        <app-basic-toolbar></app-basic-toolbar>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Multi-row toolbar</h4>
                    </div>
                    <div class="card-body">
                        <app-multi-row-toolbar></app-multi-row-toolbar>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Toolbar overview</h4>
                    </div>
                    <div class="card-body">
                        <app-toolbar-overview></app-toolbar-overview>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->