<div class=" content-body default-height">
    <div class="container-fluid">
        <!-- Conten Head -->

        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>

        <!-- End Conten Head -->
         <div class="row">
            <div class="col-lg-12">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                    
                                <thead>
                                    <tr>
                                        <th class=" pe-3">
                                            <div class="form-check custom-checkbox checkbox-primary mx-2">
                                                <input type="checkbox" class="form-check-input" id="checkAll" (click)="checkAll()">
                                                <label class="form-check-label" for="checkAll"></label>
                                            </div>
                                        </th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th class=" pl-5" style="min-width: 200px;">Billing Address
                                        </th>
                                        <th>Joined</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="customers">
                                    <tr *ngFor="let row of customers" class="btn-reveal-trigger">
                                        <td>
                                            <div class="form-check custom-checkbox checkbox-primary mx-2">
                                                <input type="checkbox" class="form-check-input" id="checkbox1" [checked]="boxActive">
                                                <label class="form-check-label" for="checkbox1"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);">
                                                <div class="media d-flex align-items-center">
                                                    <div class="avatar avatar-xl me-2">
                                                        <div class="">
                                                            <img class="rounded-circle img-fluid" src="{{row.img }}" width="30" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="mb-0 fs--1">{{ row.name }}</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                        <td> <a href="mailto:ricky@example.com">{{ row.email }}</a></td>                        
                                        <td> <a href="tel:2012001851">{{ row.phone }}</a></td>
                                        <td class="pl-5">{{ row.address }}</td>
                                        <td >{{ row.joined }}</td>
                                        <td class=" text-right">
                                            <div class="dropdown"><button class="btn btn-primary tp-btn-light sharp" type="button" data-bs-toggle="dropdown"><span class="fs--1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
                                                <div class="dropdown-menu dropdown-menu-end border py-0">
                                                    <div><a class="dropdown-item"  href="javascript:void(0)">Edit</a><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>