<div class="content-body default-height">
    <div class="container-fluid default-mt-slidetoggle default-mt-btn default-mt-card">
        <!-- Conten Head -->
        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        <!-- Conten Head End-->
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Configurable slide-toggle</h4>
                    </div>
                    <div class="card-body">
                        <app-configurable-slide-toggle></app-configurable-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Slide-toggle with forms</h4>
                    </div>
                    <div class="card-body">
                        <app-slide-toggle-with-forms></app-slide-toggle-with-forms>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic slide-toggles</h4>
                    </div>
                    <div class="card-body">
                        <app-slide-toggle-basic></app-slide-toggle-basic>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>