<div class="content-body default-height">
    <div class="container-fluid default-autocomplete default-mt-input">
        <!-- Conten Head -->
        <app-breadcrumb [head_title]="contantHead"></app-breadcrumb>
        <!-- Conten Head End-->
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic icons</h4>
                    </div>
                    <div class="card-body">
                        <app-input-with-clear-button></app-input-with-clear-button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Input with a custom ErrorStateMatcher</h4>
                    </div>
                    <div class="card-body">
                        <app-input-error-state-matcher></app-input-error-state-matcher>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Input with error messages</h4>
                    </div>
                    <div class="card-body">
                        <app-input-with-error-message></app-input-with-error-message>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Inputs with prefixes and suffixes</h4>
                    </div>
                    <div class="card-body">
                        <app-input-with-prefixes-suffixes></app-input-with-prefixes-suffixes>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Input with hints</h4>
                    </div>
                    <div class="card-body">
                        <app-input-with-hints></app-input-with-hints>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic Inputs</h4>
                    </div>
                    <div class="card-body">
                        <app-input-basic></app-input-basic>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Inputs in a form</h4>
                    </div>
                    <div class="card-body">
                        <app-input-in-form></app-input-in-form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>