<div *ngFor="let item of cardList_3" class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
    <div class="widget-stat card">
        <div class="card-body p-4">
            <h4 class="card-title">{{ item.title }}</h4>
            <h3>{{ item.rank }}</h3>
            <div class="progress mb-2">
                <div *ngIf="item.progress_bar == '80'" class="progress-bar progress-animated bg-{{item.color}}" style="width: 80%"></div>
                <div *ngIf="item.progress_bar == '50'" class="progress-bar progress-animated bg-{{item.color}}" style="width: 50%"></div>
                <div *ngIf="item.progress_bar == '76'" class="progress-bar progress-animated bg-{{item.color}}" style="width: 76%"></div>
                <div *ngIf="item.progress_bar == '30'" class="progress-bar progress-animated bg-{{item.color}}" style="width: 30%"></div>
            </div>
            <small>{{ item.increase }}</small>
        </div>
    </div>
</div>